.form-group(:class="{[field_type]:true, inline_input_mode:inline_input_mode}")

    template(v-if='inline_input_mode && inline_input_show_clear && (!is_disabled)')
        template(v-if='!inline_input_is_editing')
            i.inline_input_show_clear.fa.fa-trash.btn-danger(@click='inline_clear_value' :class="{busy: inline_input_is_busy}")
        template(v-else)
            i.inline_input_cancel_input.fa.fa-undo.btn-warning(@click='cancel_input' :class="{busy: inline_input_is_busy}")

    Alertcomponent.datatable_field_alert.simple_datatable_field_alert(:path='alert_path')

    template(v-if='(!inline_input_mode) || (!inline_input_hide_label)')
        template(v-if="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))")
            label(v-if="show_title") {{ t(field.translatable_title) }}
                template(v-if="field.is_required")
                    i.fa.fa-asterisk.mandatory
        template(v-else)
            label(v-if="show_title", :for="field.datatable_field_uid") {{ t(field.translatable_title) }}
                template(v-if="field.is_required")
                    i.fa.fa-asterisk.mandatory

    template(v-if="field_type == 'password'")
        input(:class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'text'")
        input(:class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'textarea'")
        textarea(:class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'translatable_text'")
        input(:class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'boolean'")
        template(v-if="field.is_required")
            input(type="checkbox" v-model="field_value" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" :id="field.datatable_field_uid")
        template(v-else)
            .form-check
                input.form-check-input(type="radio" v-model="field_value" :value="null" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" :id="'materialChecked_' + field.datatable_field_uid + '___N_A_' + random_number" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)")
                label.form-check-label(:for="'materialChecked_' + field.datatable_field_uid + '___N_A_' + random_number") {{ label('crud.field.boolean.n_a') }}
            .form-check
                input.form-check-input(type="radio" v-model="field_value" :value="true" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" :id="'materialChecked_' + field.datatable_field_uid + '___TRUE_' + random_number" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)")
                label.form-check-label(:for="'materialChecked_' + field.datatable_field_uid + '___TRUE_' + random_number") {{ label('crud.field.boolean.true') }}
            .form-check
                input.form-check-input(type="radio" v-model="field_value" :value="false" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" :id="'materialChecked_' + field.datatable_field_uid + '___FALSE_' + random_number" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)")
                label.form-check-label(:for="'materialChecked_' + field.datatable_field_uid + '___FALSE_' + random_number") {{ label('crud.field.boolean.false') }}
    template(v-else-if="field_type == 'number'")
        input(:class="{'form-control': !inline_input_mode}" type="number" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid")
    template(v-else-if="field_type == 'amount'")
        input(:class="{'form-control': !inline_input_mode}" v-on:keyup.enter="inline_input_submit" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'float'")
        input(:class="{'form-control': !inline_input_mode}" type="number" step="0.01" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid")
    template(v-else-if="field_type == 'pct'")
        input(:class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'HourAndMinuteWithoutLimit'")
        input(:class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'HourAndMinute'")
        input(:class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="(field_type == 'date') || (field_type == 'day')")
        input(:class="{'form-control': !inline_input_mode}" type="date" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid")
    template(v-else-if="field_type == 'month'")
        input(:class="{'form-control': !inline_input_mode}" type="month" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid")
    template(v-else-if="field_type == 'daterange'")
        input(:class="{'form-control': !inline_input_mode}" type="date" v-model="field_value_range[field.datatable_field_uid + '_start']" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="updateDateRange($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid")
        input(:class="{'form-control': !inline_input_mode}" type="date" v-model="field_value_range[field.datatable_field_uid + '_end']" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="updateDateRange($event.target)" @blur="$emit('blur', $event.target.value)" :id="field.datatable_field_uid")
    template(v-else-if="field_type == 'daterange[]'")
        // FIXME TODO ASAP
    // FIXME TODO ASAP field_type == 'tstzrange[]' autres segmentations
    template(v-else-if="is_segmented_day_tsrange_array")
        Tsrangesinputcomponent(
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))"  @input_with_infos="validateSimpleInput" :id="field.datatable_field_uid")

    template(v-else-if="field_type == 'numrange[]'")
        // FIXME TODO ASAP
    template(v-else-if="field_type == 'isoweekdays'")
        Isoweekdaysinputcomponent(
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))"  @input_with_infos="validateSimpleInput" :id="field.datatable_field_uid")

    template(v-else-if="field_type == 'hourrange[]'")
        Multiinputcomponent(
            :custom_field_component="hourrange_input_component"
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" type_input="custom" @input_with_infos="validateMultiInput" :id="field.datatable_field_uid")

    template(v-else-if="field_type == 'hourrange'")
        Hourrangeinputcomponent(
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input_with_infos="validateSimpleInput" :id="field.datatable_field_uid")

    template(v-else-if="field_type == 'hour'")
        // FIXME TODO ASAP

    template(v-else-if="field_type == 'tstz'")
        Tstzinputcomponent(
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input_with_infos="validateSimpleInput" :id="field.datatable_field_uid")

    template(v-else-if="field_type == 'tsrange'")
        Tsrangeinputcomponent(
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input_with_infos="validateSimpleInput" :id="field.datatable_field_uid")
    template(v-else-if="field_type == 'timestamp'")
        input(:class="{'form-control': !inline_input_mode}" type="number" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" :id="field.datatable_field_uid")
    template(v-else-if="field_type == 'html'")
        Vuequilleditor(v-model="field_value" ref="quilleditor" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput" :id="field.datatable_field_uid")
    template(v-else-if="(field_type == 'file')&&(vo._type == 'file')")
        Filecomponent(:filevo="vo" @uploaded="uploadedFile(...arguments)" :id="field.datatable_field_uid" :disabled="is_readonly")
    template(v-else-if="(field_type == 'image')&&(vo._type == 'image')")
        Imagecomponent(:filevo="vo" @uploaded="uploadedFile(...arguments)", :id="field.datatable_field_uid" :disabled="is_readonly")
    template(v-else-if="field_type == 'timewithouttimezone'")
        input(:class="{'form-control': !inline_input_mode}" type="time" v-model="field_value" :id="field.datatable_field_uid", :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)")
    template(v-else-if="field_type == 'unix_timestamp'")
        input(:class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :id="field.datatable_field_uid", :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'enum'")
        multiselect(
            v-model="field_value"
            :custom-label="field.enumIdToHumanReadable",
            :options="select_options",
            :loading="isLoadingOptions",
            :id="field.datatable_field_uid",
            :searchable="true",
            :internal-search="false",
            :allow-empty="!field.is_required",
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))",
            :preselectFirst="field.is_required",
            @search-change="asyncLoadEnumOptions",
            @input="onChangeField"

            :placeholder="t(field.translatable_place_holder)",

            :selectLabel='label("multiselect.selectLabel")'
            :selectGroupLabel='label("multiselect.selectGroupLabel")'
            :selectedLabel='label("multiselect.selectedLabel")'
            :deselectLabel='label("multiselect.deselectLabel")'
            :deselectGroupLabel='label("multiselect.deselectGroupLabel")')
    template(v-else-if="field_type == 'number[]'")
        Multiinputcomponent(v-model="field_value", :id="field.datatable_field_uid" :vo="vo", :field="field", :required="field.is_required", :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))", type_input="number", @input_with_infos="validateMultiInput")
    template(v-else-if="field_type == 'text[]'")
        Multiinputcomponent(v-model="field_value", :id="field.datatable_field_uid" :vo="vo", :field="field", :required="field.is_required", :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))", type_input="text", @input_with_infos="validateMultiInput")
    template(v-else-if="field_type == 'html[]'")
        Multiinputcomponent(:id="field.datatable_field_uid" :use_wysiwyg='true' v-model="field_value", :vo="vo", :field="field", :required="field.is_required", :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))", type_input="text", @input_with_infos="validateMultiInput")
    template(v-else-if="is_custom_field_type && custom_field_types[field_type].create_update_component")
        .custom_read_field_component(
            :id="field.datatable_field_uid",
            :is="custom_field_types[field_type].create_update_component",
            :vo="vo",
            :field="field",
            :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))",
            @input="inputValue"
        )
    template(v-else-if="field_type == 'point'")
        // FIXME TODO ASAP

    template(v-if='inline_input_mode && (!is_disabled)')
        template(v-if='inline_input_is_editing')
            i.inline_input_is_editing.fa.fa-check.btn-success(@click='validate_inline_input' :class="{busy: inline_input_is_busy}")
        template(v-else)
            i.inline_input_is_not_editing.fa.fa-pencil.btn-primary(@click='prepare_inline_input' :class="{busy: inline_input_is_busy}")

