.table_widget_column
    template(v-if='!column')
        .new_column_select_type 
            .new_column_select_type_label {{ label('table_widget_column.new_column_select_type_label') }}
        
            .new_column_select_type_vo_field_ref
                .vo_ref_field_receiver(@dragover="allowDrop" @drop="drop")
                    .vo_ref_field_receiver_placeholder {{ label('single_vo_field_ref_holder.vo_ref_field_receiver_placeholder') }}

            .new_column_select_type_var_ref
                .input_wrapper
                    multiselect(
                        :preselect-first="false"
                        :multiple="false"
                        v-model="new_column_select_type_var_ref"
                        :placeholder="label('table_widget_column.new_column_select_type_var_ref')"
                        :options="vars_options"
                        :custom-label="var_label"
                        :allow-empty="false",
                        autocomplete="off"

                        :searchable="true"
                        :internal-search="true"

                        id="new_column_select_type_var_ref"

                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )

            .new_column_select_type_component
                .input_wrapper
                    multiselect(
                        :preselect-first="false"
                        :multiple="false"
                        v-model="new_column_select_type_component"
                        :placeholder="label('table_widget_column.new_column_select_type_component')"
                        :options="component_options"
                        :custom-label="component_label"
                        :allow-empty="false",
                        autocomplete="off"

                        :searchable="true"
                        :internal-search="true"

                        id="new_column_select_type_component"

                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )

    template(v-else)
        .table_widget_column_conf
            .column_label(v-if='!!translatable_name_code_text')
                Inlinetranslatabletext(                    
                    :code_text="translatable_name_code_text" 
                    :is_editable="true"
                    :default_translation="default_column_label")

            .remove_column(@click="remove_column" v-tooltip='vo_ref_tooltip')
                i.fa.fa-trash(aria-hidden="true")

            template(v-if='!show_options')
                .show_options(@click="unhide_options")
                    i.fa.fa-plus(aria-hidden="true")

            template(v-if='show_options')
                .hide_options(@click="hide_options")
                    i.fa.fa-minus(aria-hidden="true")

                .column_width
                    input(type='number' min='0' v-model='column_width' v-tooltip='label("table_widget_column_conf.column_width")')

                .editable_column(v-if='can_be_editable')
                    toggle-button(
                        @change="switch_readonly" 
                        :value="!column.readonly" 
                        :sync="true"
                        :width="100"
                        :labels="{checked: label('table_widget_column_conf.editable_column.editable'), unchecked: label('table_widget_column_conf.editable_column.readonly')}")

                .exportable_column
                    toggle-button(
                        @change="switch_exportable" 
                        :value="column.exportable" 
                        :sync="true"
                        :width="105"
                        :labels="{checked: label('table_widget_column_conf.editable_column.exportable'), unchecked: label('table_widget_column_conf.editable_column.not_exportable')}")

                .hide_from_table_column
                    toggle-button(
                        @change="switch_hide_from_table" 
                        :value="!column.hide_from_table" 
                        :sync="true"
                        :width="75"
                        :labels="{checked: label('table_widget_column_conf.editable_column.show_in_table'), unchecked: label('table_widget_column_conf.editable_column.hide_from_table')}")

                .can_filter_by_column
                    toggle-button(
                        @change="switch_can_filter_by" 
                        :value="column.can_filter_by" 
                        :sync="true"
                        :width="75"
                        :labels="{checked: label('table_widget_column_conf.editable_column.can_filter_by'), unchecked: label('table_widget_column_conf.editable_column.cannot_filter_by')}")

                .filter_by_access
                    multiselect(
                        :preselect-first="false"
                        :multiple="false"
                        v-model="column.filter_by_access"
                        :placeholder="label('table_widget_column.filter_by_access')"
                        :options="filter_by_access_options"
                        :custom-label="filter_by_access_label"
                        :allow-empty="true",
                        autocomplete="off"

                        :searchable="true"
                        :internal-search="true"

                        id="filter_by_access"

                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )

                //- template(v-if='column.is_enum')
                .enum_color_options 
                    .enum_color_option(v-for='(enum_option_label, enum_option_index) in enum_options')
                        .enum_bg_color
                            color-picker(v-model="enum_bg_colors[enum_option_index]" @change='throttled_update_enum_colors')
                        .enum_fg_color
                            color-picker(v-model="enum_fg_colors[enum_option_index]" @change='throttled_update_enum_colors')
                        .enum_preview(:style='{width: (column.column_width ? column.column_width + "rem" : null), background: enum_bg_colors[enum_option_index], color: enum_fg_colors[enum_option_index]}') {{ t(enum_option_label) }}

