.table_widget_column
    template(v-if='!column')
        .new_column_select_type 
            .new_column_select_type_label {{ label('table_widget_column.new_header_column_select_type_label') }}

            .d-flex.justify-content-between.mb-2
                form
                    input.form.control.mr-3(:class='{"is-invalid": error}' type="text" placeholder="..." v-model="new_header_columns")
                    p.text-danger(v-if='error') l'entête existe déja
                    button.btn.btn-success(type="submit" @click="add_header") Valider l'entête


            .new_column_select_type_label {{ label('table_widget_column.new_column_select_type_label') }}

            .new_column_select_type_vo_field_ref
                .vo_ref_field_receiver(@dragover="allowDrop" @drop="drop")
                    .vo_ref_field_receiver_placeholder {{ label('single_vo_field_ref_holder.vo_ref_field_receiver_placeholder') }}

            .new_column_select_type_var_ref
                .input_wrapper
                    multiselect(
                        :preselect-first="false"
                        :multiple="false"
                        v-model="new_column_select_type_var_ref"
                        :placeholder="label('table_widget_column.new_column_select_type_var_ref')"
                        :options="vars_options"
                        :custom-label="var_label"
                        :allow-empty="false",
                        autocomplete="off"

                        :searchable="true"
                        :internal-search="true"

                        id="new_column_select_type_var_ref"

                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )

            .new_column_select_type_component
                .input_wrapper
                    multiselect(
                        :preselect-first="false"
                        :multiple="false"
                        v-model="new_column_select_type_component"
                        :placeholder="label('table_widget_column.new_column_select_type_component')"
                        :options="component_options"
                        :custom-label="component_label"
                        :allow-empty="false",
                        autocomplete="off"

                        :searchable="true"
                        :internal-search="true"

                        id="new_column_select_type_component"

                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )

    template(v-else)
        .table_widget_column_conf
            .column_label(v-if='!!translatable_name_code_text')
                Inlinetranslatabletext(
                    :code_text="translatable_name_code_text"
                    :is_editable="true"
                    :default_translation="default_column_label"
                )

            .remove_column(@click="remove_column" v-tooltip='vo_ref_tooltip')
                i.fa-solid.fa-trash(aria-hidden="true")
            .default_sort_field(v-if="column.type != 5" v-tooltip='default_sort_field_tooltip')
                template(v-if="default_sort_field == sort_asc")
                    i.fa-solid.fa-sort-asc(@click="change_default_sort_field" aria-hidden="true")
                template(v-else-if="default_sort_field == sort_desc")
                    i.fa-solid.fa-sort-desc(@click="change_default_sort_field" aria-hidden="true")
                template(v-else)
                    i.fa-solid.fa-sort(@click="change_default_sort_field" aria-hidden="true")

            template(v-if='!show_options')
                .show_options(@click="unhide_options")
                    i.fa-solid.fa-plus(aria-hidden="true")

            template(v-if='show_options')
                .hide_options(@click="hide_options")
                    i.fa-solid.fa-minus(aria-hidden="true")

                template(v-if='column.type != 5')
                    .column_width
                        input(type='number' min='0' v-model='column_width' v-tooltip='label("table_widget_column_conf.column_width")')

                    .editable_column(v-if='can_be_editable', v-tooltip='label("table_widget_column_conf.editable_column")')
                        toggle-button(
                            @change="switch_readonly" 
                            :value="!column.readonly" 
                            :sync="true"
                            :width="100"
                            :labels="{checked: label('table_widget_column_conf.editable_column.editable'), unchecked: label('table_widget_column_conf.editable_column.readonly')}")

                    .exportable_column(v-tooltip='label("table_widget_column_conf.exportable_column")')
                        toggle-button(
                            @change="switch_exportable" 
                            :value="column.exportable" 
                            :sync="true"
                            :width="105"
                            :labels="{checked: label('table_widget_column_conf.editable_column.exportable'), unchecked: label('table_widget_column_conf.editable_column.not_exportable')}")

                    .hide_from_table_column(v-tooltip='label("table_widget_column_conf.hide_from_table_column")')
                        toggle-button(
                            @change="switch_hide_from_table" 
                            :value="!column.hide_from_table" 
                            :sync="true"
                            :width="75"
                            :labels="{checked: label('table_widget_column_conf.editable_column.show_in_table'), unchecked: label('table_widget_column_conf.editable_column.hide_from_table')}")

                    .can_filter_by_column(v-if='can_filter_by_table && (column.datatable_field_uid != "__crud_actions")', v-tooltip='label("table_widget_column_conf.can_filter_by_column")')
                        toggle-button(
                            @change="switch_can_filter_by" 
                            :value="column.can_filter_by" 
                            :sync="true"
                            :width="100"
                            :labels="{checked: label('table_widget_column_conf.editable_column.can_filter_by'), unchecked: label('table_widget_column_conf.editable_column.cannot_filter_by')}")
                    
                    .is_sticky_column(v-tooltip='label("table_widget_column_conf.is_sticky_column")')
                        toggle-button(
                            @change="switch_is_sticky"
                            :value="column.is_sticky"
                            :sync="true"
                            :width="100"
                            :labels="{checked: label('table_widget_column_conf.editable_column.is_sticky'), unchecked: label('table_widget_column_conf.editable_column.is_not_sticky')}")

                    .many_to_many_aggregate.mt-2(v-tooltip='label("table_widget_column_conf.many_to_many_aggregate")')
                        toggle-button(
                            @change="switch_many_to_many_aggregate" 
                            :value="column.many_to_many_aggregate" 
                            :sync="true"
                            :width="200"
                            :labels="{checked: label('table_widget_column_conf.editable_column.many_to_many_aggregate.show'), unchecked: label('table_widget_column_conf.editable_column.many_to_many_aggregate.hide')}")

                    template(v-if="is_fkey")
                        .disabled_many_to_one_link.mt-2(v-tooltip='label("table_widget_column_conf.disabled_many_to_one_link")')
                            toggle-button(
                                @change="switch_disabled_many_to_one_link" 
                                :value="column.disabled_many_to_one_link" 
                                :sync="true"
                                :width="200"
                                :labels="{checked: label('table_widget_column_conf.editable_column.disabled_many_to_one_link.show'), unchecked: label('table_widget_column_conf.editable_column.disabled_many_to_one_link.hide')}")

                    .is_nullable.mt-2(v-tooltip='label("table_widget_column_conf.is_nullable")')
                        toggle-button(
                            @change="switch_is_nullable" 
                            :value="column.is_nullable" 
                            :sync="true"
                            :width="320"
                            :labels="{checked: label('table_widget_column_conf.editable_column.is_nullable.show'), unchecked: label('table_widget_column_conf.editable_column.is_nullable.hide')}")

                    .show_tooltip.mt-2(v-tooltip='label("table_widget_column_conf.show_tooltip")')
                        toggle-button(
                            @change="switch_show_tooltip" 
                            :value="column.show_tooltip" 
                            :sync="true"
                            :width="160"
                            :labels="{checked: label('table_widget_column_conf.editable_column.show_tooltip.show'), unchecked: label('table_widget_column_conf.editable_column.show_tooltip.hide')}")

                    template(v-if='column.type == 1')
                        .kanban_column
                            .input_label {{ label('table_widget_options_component.kanban_column') }}
                            toggle-button(
                                @change="switch_kanban_column" 
                                :value="kanban_column" 
                                :sync="true"
                                :width="100"
                                :labels="{checked: label('table_widget_options_component.kanban_column.true'), unchecked: label('table_widget_options_component.kanban_column.false')}")

                        template(v-if='kanban_column && column_type_has_weight')
                            .kanban_use_weight
                                .input_label {{ label('table_widget_options_component.kanban_use_weight') }}
                                toggle-button(
                                    @change="switch_kanban_use_weight" 
                                    :value="kanban_use_weight" 
                                    :sync="true"
                                    :width="100"
                                    :labels="{checked: label('table_widget_options_component.kanban_use_weight.true'), unchecked: label('table_widget_options_component.kanban_use_weight.false')}")

                    .show_if_any_filter_active(v-tooltip='label("table_widget_column_conf.show_if_any_filter_active")')
                        multiselect(
                            :preselect-first="false"
                            :multiple="true"
                            v-model="column.show_if_any_filter_active"
                            :placeholder="label('table_widget_column.show_if_any_filter_active')"
                            :options="show_if_any_filter_active_options"
                            :custom-label="show_if_any_filter_active_label"
                            :allow-empty="true",
                            autocomplete="off"

                            :searchable="true"
                            :internal-search="true"

                            id="show_if_any_filter_active"

                            :select-label='label("multiselect.selectLabel")'
                            :select-group-label='label("multiselect.selectGroupLabel")'
                            :selected-label='label("multiselect.selectedLabel")'
                            :deselect-label='label("multiselect.deselectLabel")'
                            :deselect-group-label='label("multiselect.deselectGroupLabel")'
                        )
                    
                    template(v-if="is_type_var_ref")
                        .do_not_user_filter_active_ids(v-tooltip='label("table_widget_column_conf.do_not_user_filter_active_ids")')
                            multiselect(
                                :preselect-first="false"
                                :multiple="true"
                                v-model="column.do_not_user_filter_active_ids"
                                :placeholder="label('table_widget_column.do_not_user_filter_active_ids')"
                                :options="do_not_user_filter_active_ids_options"
                                :custom-label="do_not_user_filter_active_ids_label"
                                :allow-empty="true",
                                autocomplete="off"

                                :searchable="true"
                                :internal-search="true"

                                id="do_not_user_filter_active_ids"

                                :select-label='label("multiselect.selectLabel")'
                                :select-group-label='label("multiselect.selectGroupLabel")'
                                :selected-label='label("multiselect.selectedLabel")'
                                :deselect-label='label("multiselect.deselectLabel")'
                                :deselect-group-label='label("multiselect.deselectGroupLabel")'
                            )

                    .filter_by_access(v-tooltip='label("table_widget_column_conf.filter_by_access")')
                        multiselect(
                            :preselect-first="false"
                            :multiple="false"
                            v-model="column.filter_by_access"
                            :placeholder="label('table_widget_column.filter_by_access')"
                            :options="filter_by_access_options"
                            :custom-label="filter_by_access_label"
                            :allow-empty="true",
                            autocomplete="off"

                            :searchable="true"
                            :internal-search="true"

                            id="filter_by_access"

                            :select-label='label("multiselect.selectLabel")'
                            :select-group-label='label("multiselect.selectGroupLabel")'
                            :selected-label='label("multiselect.selectedLabel")'
                            :deselect-label='label("multiselect.deselectLabel")'
                            :deselect-group-label='label("multiselect.deselectGroupLabel")'
                        )

                    template(v-if='fields_that_could_get_custom_filter && fields_that_could_get_custom_filter.length')
                        .fields_that_could_get_custom_filter
                            template(v-for='field_that_could_get_custom_filter in fields_that_could_get_custom_filter')
                                .field_that_could_get_custom_filter
                                    .field_id {{ field_that_could_get_custom_filter }}
                                    .custom_filter 
                                        input(
                                            type="text"
                                            v-model="custom_filter_names[field_that_could_get_custom_filter]"
                                            :disabled="true"
                                        )
                                    .existing_custom_filters_list(v-if='get_custom_filters && get_custom_filters.length')
                                        template(v-for='custom_filter in get_custom_filters')
                                            .custom_filter.clickable(@click='change_custom_filter(field_that_could_get_custom_filter, custom_filter)') {{ custom_filter }}


                hr.my-12
                .color_configuration_section.mt-3
                    .label.mb-0
                        label {{ label('table_widget_column_conf.color_configuration_section') }}

                    //- template(v-if='column.is_enum')
                    .enum_color_options 
                        .enum_color_option(v-for='(enum_option_label, enum_option_index) in enum_options')
                            .enum_bg_color
                                color-picker(v-model="enum_bg_colors[enum_option_index]" @change='throttled_update_enum_colors')
                            .enum_fg_color
                                color-picker(v-model="enum_fg_colors[enum_option_index]" @change='throttled_update_enum_colors')
                            .enum_preview(:style='{width: (column.column_width ? column.column_width + "rem" : null), background: enum_bg_colors[enum_option_index], color: enum_fg_colors[enum_option_index]}') {{ t(enum_option_label) }}

                    .bg_color_header.mt-3
                        .label.mb-0
                            label {{ label('table_widget_column_conf.editable_column.bg_color_header') }}
                        color-picker.mr-2(v-model="tmp_bg_color_header")
                        template(v-if="tmp_bg_color_header")
                            i.fa-solid.fa-times(@click="clear_tmp_bg_color_header")

                    .font_color_header.mt-3
                        .label.mb-0
                            label {{ label('table_widget_column_conf.editable_column.font_color_header') }}
                        color-picker.mr-2(v-model="tmp_font_color_header")
                        template(v-if="tmp_font_color_header")
                            i.fa-solid.fa-times(@click="clear_tmp_font_color_header")

                    .conditional_cell_color_wrapper.mt-3(v-if='column.type == 2')
                        .label.mb-0
                            label {{ label('table_widget_column_conf.editable_column.conditional_cell_color') }}
                        .conditional_cell_color_list
                            .conditional_cell_color_item(v-for='(conditional_cell_color, index) in colors_by_value_and_conditions')
                                .row.conditional_cell_color_form
                                    .col-md-12.toolbar
                                        span.pull-right
                                            i.fa-solid.fa-trash(@click="handle_remove_conditional_cell_color(index, conditional_cell_color)")
                                    .col-md-12
                                        .row
                                            .col-md-6.condition_select
                                                label.col-md-6 {{ label('table_widget_column_conf.editable_column.conditional_cell_color.condition') }}
                                                select.col-md-6(v-model='conditional_cell_color.condition')
                                                    option(v-for='condition in selectionnable_cell_color_conditions' :value='condition.value') {{ condition.label }}
                                            .col-md-6.value_input
                                                label.col-md-6 {{ label('table_widget_column_conf.editable_column.conditional_cell_color.value') }}
                                                input.col-md-6(type='number' min='0' v-model='conditional_cell_color.value')
                                    .col-md-12
                                        .row
                                            .col-md-12.bg_color
                                                .row
                                                    label.col-md-6 {{ label('table_widget_column_conf.editable_column.conditional_cell_color.bg_color') }}
                                                    .col-md-6
                                                        color-picker(v-model="conditional_cell_color.color.bg")
                                            .col-md-12.text_color
                                                .row
                                                    label.col-md-6 {{ label('table_widget_column_conf.editable_column.conditional_cell_color.text_color') }}
                                                    .col-md-6
                                                        color-picker(v-model="conditional_cell_color.color.text")
                                .conditional_cell_color_preview(
                                    :style='{background: conditional_cell_color.color.bg, color: conditional_cell_color.color.text}'
                                ) {{ label('table_widget_column_conf.editable_column.conditional_cell_color.preview') }}
                            .add_conditional_cell_color
                                .btn.btn-success(@click='handle_add_conditional_cell_color')
                                    i.fa-solid.fa-plus(aria-hidden="true")
                                    span {{ label('table_widget_column_conf.editable_column.conditional_cell_color.add') }}

                
                hr.my-12

                .widget_filter_options(v-if='(column.type == 1) || (column.type == 2)')
                    .widget_filter_options_label {{ label('table_widget_column_conf.filter_options') }}
                    .widget_filter_options_wrapper
                        Widgetfilteroptionscomponent(
                            :actual_additional_options="column.filter_additional_params"
                            :actual_filter_type="column.filter_type"
                            @update_additional_options="update_additional_options"
                            @update_filter_type="update_filter_type"
                        )