.cms_link_button_widget_options_component
    .cms_link_button_widget_options_component_wrapper

        .widget_url_label
            .input_label {{ label('cms_link_button.widget_option.url') }}
            .input_wrapper
                Singlevofieldrefholdercomponent(
                    :vo_field_ref="url_field_ref"
                    @remove_field_ref="remove_url_field_ref"
                    @add_field_ref="add_url_field_ref"
                    :page_widget_id='page_widget ? page_widget.id : null'
                )
        
        .widget_title_label {{ label('cms_link_button.widget_option.titre') }}
            .widget_title_wrapper
                input(
                    type="text"
                    v-model="title"
                )
        
        .widget_icone_label {{ label('cms_link_button.widget_option.icone') }}
            .widget_icone_wrapper
                input(
                    type="text"
                    v-model="icone"
                    v-tooltip='label("cms_link_button.widget_option.icone.tooltip")'
                )
        
        .about_blank_label {{ label('cms_link_button.widget_option.about_blank') }}
        toggle-button(
            @change="switch_about_blank"
            :value="about_blank" 
            :sync="true"
            :width="100"
            :labels="{checked: label('cms_link_button.widget_option.about_blank.true'), unchecked: label('cms_link_button.widget_option.about_blank.false')}"
        )

        .widget_button_color {{ label("cms_link_button.widget_option.color") }}
        color-picker(v-model="color" @change='throttled_update_options')

        .text_color_label {{ label('cms_link_button.widget_option.text_color') }}
        toggle-button(
            @change="switch_text_color"
            :value="is_text_color_white"
            :sync="true"
            :width="100"
            :labels="{checked: label('cms_link_button.widget_option.text_color.blanc'), unchecked: label('cms_link_button.widget_option.text_color.noir')}"
        )

        .radius_bloc 
            .input_label {{ label('cms_image.widget_option.radius') }}
            .input_wrapper
                input(
                    type="number"
                    v-model="radius"
                )