.ModuleTablesComponent
    CanvasDiagram(
        :fields_by_table_name_and_field_name="fields_by_table_name_and_field_name"
        :tables_by_table_name="tables_by_table_name"
        :discarded_field_paths="discarded_field_paths"
        :all_tables_by_table_name="all_tables_by_table_name"
        :selectedTable.sync="selectedTable"
        :selectedLink.sync="selectedLink"
        @select_table="select_table"
        @select_link="select_link"
    )

    SelectionPanel(
        v-if="selectedTable"
        :tables_by_table_name="tables_by_table_name"
        :selectedTable="selectedTable"
        :fields_by_table_name_and_field_name="fields_by_table_name_and_field_name"
        :discarded_field_paths="discarded_field_paths"
        :dashboard_id="dashboard_id"
    )

    LinkPanel(
        v-if="selectedLink"
        :selectedLink="selectedLink"
        :discarded_field_paths="discarded_field_paths"
        :dashboard_id="dashboard_id"
    )

    AddPanel(
        v-if="showAddPanel"
        :all_tables_by_table_name="all_tables_by_table_name"
        :tables_by_table_name="tables_by_table_name"
        :dashboard_id="dashboard_id"
    )

    button(
        v-if="showPlusButton"
        @click="showAddPanel=!showAddPanel"
        style="position:absolute; top:10px; right:10px;"
    ) +
