.advanced_date_filter_widget_component_options

    .is_vo_field_ref 
        .input_label {{ label('advanced_date_filter_widget_component.is_vo_field_ref') }}
        .input_wrapper
            toggle-button(
                @change="switch_is_vo_field_ref" 
                :value="is_vo_field_ref" 
                :sync="false"
                :width="150"
                :labels="{checked: label('advanced_date_filter_widget_component.is_vo_field_ref.data'), unchecked: label('advanced_date_filter_widget_component.is_vo_field_ref.value')}")

    .vo_field_ref(v-if='is_vo_field_ref')
        .input_label {{ label('advanced_date_filter_widget_component.vo_field_ref') }}
        .input_wrapper
            Singlevofieldrefholdercomponent(
                :vo_field_ref="vo_field_ref" @remove_field_ref="remove_field_ref" @add_field_ref="add_field_ref"
                :page_widget_id='page_widget ? page_widget.id : null'
            )
    .custom_filter_name(v-else)
        .input_label {{ label('year_filter_widget_component.custom_filter_name') }}
        .input_wrapper
            input(
                type="text"
                v-model="custom_filter_name"
            )
        .existing_custom_filters_list(v-if='has_existing_other_custom_filters')
            template(v-for='custom_filter in other_custom_filters')
                .custom_filter.clickable(@click='change_custom_filter(custom_filter)') {{ custom_filter }}


    template(v-if="((!!is_vo_field_ref) && !!vo_field_ref) || ((!is_vo_field_ref) && !!custom_filter_name)")
        .is_checkbox.mt-2
            .input_label {{ label('advanced_date_filter_widget_component.is_checkbox') }}
            
            toggle-button(
                @change="switch_is_checkbox" 
                :value="is_checkbox" 
                :sync="true"
                :width="100"
                :labels="{checked: label('advanced_date_filter_widget_component.is_checkbox.visible'), unchecked: label('advanced_date_filter_widget_component.is_checkbox.hidden')}"
            )

        .opts.mt-2
            .opts_label {{ label('advanced_date_filter_widget_component.opts') }}
            template(v-if='editable_opts && (editable_opts.length > 1)')
                Vuenestable.nested_field_refs(
                    v-model="editable_opts" 
                    @change="changed_opts"
                    key-prop="id"
                    :max-depth="1"
                    children-prop="children"
                )
                    template(slot-scope="{ item }")

                        .row
                            .col-sm-2.text-center
                                Vuenestablehandle(:item="item")
                                    i.fa-solid.fa-bars.fa-fw(aria-hidden="true")
                        
                            .item_content.col-sm-8
                                Advanceddatefilterwidgetoptionsoptcomponent(
                                    :opt="item"
                                    @remove_opt="remove_opt" 
                                    @update_opt="update_opt"
                                    :page_widget="page_widget"
                                )

            template(v-if='editable_opts && (editable_opts.length == 1)')
                .item_content
                    Advanceddatefilterwidgetoptionsoptcomponent(
                        :opt="editable_opts[0]"
                        @remove_opt="remove_opt" 
                        @update_opt="update_opt"
                        :page_widget="page_widget"
                    )

            .opt_wrapper.mt-2.text-center
                .btn.btn-success.btn-sm(@click="add_opt(null)") 
                    i.fa-solid.fa-plus.mr-1
                    span {{ label('advanced_date_filter_widget_component.opts.add') }}
