include ../../../../../views/mixins/loading.pug

.suivi_competences_widget_component
    .text-center.mb-4.row.hidden-print
        .col-md-3.text-left
            template(v-if="has_active_filters && selected_rapport")
                toggle-button(
                    @change="switch_show_details" 
                    :value="show_details" 
                    :sync="false"
                    :width="150"
                    :labels="{checked: label('show_details.yes'), unchecked: label('show_details.no')}" 
                )

        .col-md-6
            template(v-if="has_active_filters")
                .btn.btn-sm.btn-primary.mr-1(
                    v-tooltip="label('suivi_competences_widget_component.create.tooltip.' + page_widget.id)" 
                    :class="{'btn-success': action_rapport == create_action_rapport}"
                    @click='open_create'
                )
                    i.fa-duotone.fa-circle-plus.fa-lg.btn_icon.mr-2(aria-hidden="true")
                    | {{ label('suivi_competences_widget_component.create.' + page_widget.id) }}

                .btn.btn-sm.btn-primary.mr-1(
                    v-tooltip="label('suivi_competences_widget_component.duplicate.tooltip.' + page_widget.id)" 
                    :class="{'btn-success': action_rapport == duplicate_action_rapport}"
                    @click='duplicate_rapport'
                )
                    i.fa-duotone.fa-copy.fa-lg.btn_icon.mr-2(aria-hidden="true")
                    | {{ label('suivi_competences_widget_component.duplicate.' + page_widget.id) }}

                .btn.btn-sm.btn-primary.mr-1(
                    v-tooltip="label('suivi_competences_widget_component.edit.tooltip.' + page_widget.id)" 
                    :class="{'btn-success': action_rapport == edit_action_rapport}"
                    @click='edit_rapport'
                )
                    i.fa-duotone.fa-edit.fa-lg.btn_icon.mr-2(aria-hidden="true")
                    | {{ label('suivi_competences_widget_component.edit.' + page_widget.id) }}

                template(v-if="(action_rapport == duplicate_action_rapport) || (action_rapport == edit_action_rapport)")
                    multiselect.text-center.align-center.vselect-form-control.mt-2.select_rapport(
                        :preselect-first="false"
                        :multiple="false"
                        v-model="selected_rapport"
                        :placeholder="label('suivi_competences_widget_component.select_rapport.' + page_widget.id)" 
                        :options="rapports"
                        label="name"
                        :allow-empty="true",
                        autocomplete="off"

                        :searchable="true"
                        :internal-search="true"

                        track-by="id"

                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )

            template(v-else)
                .no_has_active_filters.text-center {{ label('suivi_competences_widget_component.no_has_active_filters.' + page_widget.id) }}

        .col-md-3.text-right
            template(v-if="selected_rapport")
                .actions
                    i.fa.fa-trash.fa-duotone.btn.btn-danger.ml-2(@click="delete_selected_rapport")
                    i.fa.fa-download.fa-duotone.btn.btn-primary.ml-2(@click="export_selected_rapport")
                    i.fa.fa-print.fa-duotone.btn.btn-primary.ml-2(@click="print_selected_rapport")

    template(v-if="selected_rapport && has_active_filters && (action_rapport == edit_action_rapport)")
        Suivicompetenceswidgetcontainer(
            :selected_rapport="selected_rapport"
            :page_widget="page_widget"
            :show_details="show_details"
        )