.cms_bloc_text_widget_options_component
    .cms_bloc_text_widget_options_component_wrapper
        .use_for_template
            .input_label {{ label('cms_bloc_text.widget_option.use_for_template') }}
            .input_wrapper
                toggle-button(
                    @change="switch_use_for_template" 
                    :value="use_for_template" 
                    :sync="false"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}" 
                )
        
        .sur_titre
            .input_label {{ label('cms_bloc_text.widget_option.sur_titre') }}
            .input_wrapper
                template(v-if="use_for_template")
                    .sur_titre_field_ref_for_template
                        .input_label {{ label('cms_image.widget_option.sur_titre_field_ref_for_template') }}
                        .input_wrapper
                            Singlevofieldrefholdercomponent(
                                :vo_field_ref="sur_titre_field_ref_for_template"
                                @remove_field_ref="remove_sur_titre_field_ref_for_template"
                                @add_field_ref="add_sur_titre_field_ref_for_template"
                                :page_widget_id='page_widget ? page_widget.id : null'
                            )

                template(v-else)
                    Vuequilleditor(v-model='sur_titre', :options="optionsEditeur")

        .titre
            .input_label {{ label('cms_bloc_text.widget_option.titre') }}
            .input_wrapper
                template(v-if="use_for_template")
                    .titre_field_ref_for_template
                        .input_label {{ label('cms_image.widget_option.titre_field_ref_for_template') }}
                        .input_wrapper
                            Singlevofieldrefholdercomponent(
                                :vo_field_ref="titre_field_ref_for_template"
                                @remove_field_ref="remove_titre_field_ref_for_template"
                                @add_field_ref="add_titre_field_ref_for_template"
                                :page_widget_id='page_widget ? page_widget.id : null'
                            )

                template(v-else)
                    Vuequilleditor(v-model='titre', :options="optionsEditeur")

        .sous_titre
            .input_label {{ label('cms_bloc_text.widget_option.sous_titre') }}
            .input_wrapper
                template(v-if="use_for_template")
                    .sous_titre_field_ref_for_template
                        .input_label {{ label('cms_image.widget_option.sous_titre_field_ref_for_template') }}
                        .input_wrapper
                            Singlevofieldrefholdercomponent(
                                :vo_field_ref="sous_titre_field_ref_for_template"
                                @remove_field_ref="remove_sous_titre_field_ref_for_template"
                                @add_field_ref="add_sous_titre_field_ref_for_template"
                                :page_widget_id='page_widget ? page_widget.id : null'
                            )

                    .widget_sous_titre_symbole {{ label('cms_bloc_text.widget_option.sous_titre_symbole') }}
                        input.form-control(type='text' v-model='sous_titre_symbole')

                template(v-else)
                    Vuequilleditor(v-model='sous_titre', :options="optionsEditeur")

        .contenu
            .input_label {{ label('cms_bloc_text.widget_option.contenu') }}
            .input_wrapper
                template(v-if="use_for_template")
                    .contenu_field_ref_for_template
                        .input_label {{ label('cms_image.widget_option.contenu_field_ref_for_template') }}
                        .input_wrapper
                            Singlevofieldrefholdercomponent(
                                :vo_field_ref="contenu_field_ref_for_template"
                                @remove_field_ref="remove_contenu_field_ref_for_template"
                                @add_field_ref="add_contenu_field_ref_for_template"
                                :page_widget_id='page_widget ? page_widget.id : null'
                            )

                template(v-else)
                    Vuequilleditor(v-model='contenu', :options="optionsEditeur")

        .widget_sur_titre_class_label {{ label('cms_bloc_text.widget_option.sur_titre_class') }}
            .widget_sur_titre_class_wrapper
                input(
                    type="text"
                    v-model="sur_titre_class"
                )
        .widget_titre_class_label {{ label('cms_bloc_text.widget_option.titre_class') }}
            .widget_titre_class_wrapper
                input(
                    type="text"
                    v-model="titre_class"
                )
                
        .widget_sous_titre_class_label {{ label('cms_bloc_text.widget_option.sous_titre_class') }}
            .widget_sous_titre_class_wrapper
                input(
                    type="text"
                    v-model="sous_titre_class"
                )
        .widget_contenu_class_label {{ label('cms_bloc_text.widget_option.contenu_class') }}
            .widget_contenu_class_wrapper
                input(
                    type="text"
                    v-model="contenu_class"
                )