.field_value_filter_number_widget_component
    template(v-if='vo_field_ref')
        .vo_field_ref_label {{ vo_field_ref_label }}
        //- .vo_field_ref_advanced
        //-     toggle-button(
        //-         @change="switch_advanced_filters" 
        //-         :value="advanced_filters" 
        //-         :sync="true"
        //-         :width="100"
        //-         :labels="{checked: label('vo_field_ref_advanced.advanced_filters.visible'), unchecked: label('vo_field_ref_advanced.advanced_filters.hidden')}")

        template(v-if='advanced_filters')
            .vo_field_advanced_number_filters
                template(v-for='(advanced_number_filter, i) in advanced_number_filters')
                    .vo_field_advanced_number_filter
                        form(v-on:submit.prevent="validate_advanced_number_filter")
                            .advanced_number_filter_type
                                multiselect(
                                    :preselect-first="true"
                                    :multiple="false"
                                    :close-on-select="true"
                                    v-model="advanced_number_filter.filter_type"
                                    :options="filter_type_options"
                                    :custom-label="filter_type_label"
                                    autocomplete="off"

                                    :show-labels="false"
                                    :searchable="false"
                                    :internal-search="false"
                                    :hide-selected="false"

                                    :key="'advanced_number_filter_type' + vo_field_ref.api_type_id + '__' + vo_field_ref.field_id + '__' + i" 
                                    
                                    :select-label='label("multiselect.selectLabel")'
                                    :select-group-label='label("multiselect.selectGroupLabel")'
                                    :selected-label='label("multiselect.selectedLabel")'
                                    :deselect-label='label("multiselect.deselectLabel")'
                                    :deselect-group-label='label("multiselect.deselectGroupLabel")'
                                )

                            .advanced_number_filter_content(v-if='has_content_filter_type[advanced_number_filter.filter_type]')
                                input(v-model='advanced_number_filter.filter_content')
                            template(v-if='parseInt(i.toString()) == (advanced_number_filters.length - 1)')
                                //- .advanced_number_filter_add_filter(v-tooltip.top='label("advanced_filters.add")' @click='add_advanced_number_filter')
                                //-     i.fa.fa-plus-circle.fa-lg.btn_icon
                                .advanced_number_filter_validate_filter(v-tooltip.top='label("advanced_filters.validate")' @click='validate_advanced_number_filter' :class='{"disabled": !is_advanced_filter_valid}')
                                    i.fa.fa-check-circle.fa-lg.btn_icon
                            template(v-else)
                                .advanced_number_filter_link_type(v-tooltip.top='label("advanced_filters.link_type")' @click='switch_link_type(advanced_number_filter)')
                                    i.fa.fa-circle.fa-lg.btn_icon
                                    .link_type {{ t(link_type_labels[advanced_number_filter.link_type]) }}
                                .advanced_number_filter_delete_filter(v-tooltip.top='label("advanced_filters.delete")' @click='delete_advanced_number_filter(parseInt(i.toString()))')
                                    i.fa.fa-trash.fa-lg.btn_icon


        template(v-else)
            .vo_field_ref_filter
                multiselect(
                    :preselect-first="false"
                    :multiple="can_select_multiple"
                    :close-on-select="false"
                    v-model="tmp_filter_active_options"
                    :placeholder="placeholder"
                    :options="filter_visible_options"
                    label="label"
                    autocomplete="off"

                    :searchable="true"
                    :internal-search="false"
                    :hide-selected="true"

                    track-by="text_uid"
                    
                    :key="'field_value_filter_widget_component_' + vo_field_ref.api_type_id + '__' + vo_field_ref.field_id"
                    
                    :select-label='label("multiselect.selectLabel")'
                    :select-group-label='label("multiselect.selectGroupLabel")'
                    :selected-label='label("multiselect.selectedLabel")'
                    :deselect-label='label("multiselect.deselectLabel")'
                    :deselect-group-label='label("multiselect.deselectGroupLabel")'

                    @search-change="query_update_visible_options"
                )
                    
                    span(slot="noOptions") -

                    template(slot="option", slot-scope="props")
                        span.option__title {{ props.option.label }}

                    template(slot="tag", slot-scope="props")
                        .pill_wrapper.bg-success
                            span.option__tag {{ props.option.label }}
                            i.fa.fa-times(@click='props.remove(props.option)')
