.favorites_filters_modal_component_wrapper
    #favorites_filters_modal_component.modal.fade.in(
            ref="favorites_filters_modal_component",
            tabindex='-1', 
            role='dialog'
        )
        .modal-dialog.modal-lg(role='document')
            .modal-content 
                .modal-header
                    h4.modal-title {{ label('dashboard_viewer.favorites_filters.modal_title') }}
                    a.btn.close(
                        data-dismiss="modal" 
                        @click='handle_close_modal'
                    ) &times;
                .modal-body

                    template
                        
                        p(v-if="form_errors?.length > 0")
                            b {{ label('dashboard_viewer.favorites_filters.form_errors') }}
                            ul.error-list
                                li.error(v-for="error in form_errors")
                                    div.alert.alert-danger {{ error }}

                        ul.row.nav.nav-pills.nav-fill(role="tablist")
                            li.col-md-6(:class="{'active': active_tab_view == 'selection_tab'}")
                                a#selection_pill.nav-item.nav-link(
                                    @click="set_active_tab_view('selection_tab')"
                                ) 1 - {{ label('dashboard_viewer.favorites_filters.selection_tab') }}
                            
                            template(v-if="can_configure_export")
                                li.col-md-6(:class="{'active': active_tab_view == 'export_tab'}")
                                    a#export_pill.nav-item.nav-link(
                                        @click="set_active_tab_view('export_tab')"
                                    ) 2 - {{ label('dashboard_viewer.favorites_filters.export_tab') }}

                        .tab-content
                            #selection_tab(v-show="active_tab_view == 'selection_tab'")
                                template

                                    div.favorites_filters_name
                                        h5.input_label {{ label('dashboard_viewer.favorites_filters.enter_name') }}
                                        .input_wrapper
                                            input(
                                                type="text"
                                                v-model="favorites_filters_name"
                                            )
                                    
                                    hr.my-12

                                    div.favorites_filters_options
                                        h5.input_label {{ label('dashboard_viewer.favorites_filters.behaviors_options') }}

                                        div.favorites_filters_overwrite_active_field_filters
                                            .input_wrapper
                                                toggle-button(
                                                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                                                    name="favorites_filters_overwrite_active_field_filters"
                                                    @change="handle_toggle_overwrite_active_field_filters" 
                                                    :value="overwrite_active_field_filters" 
                                                    :sync="true"
                                                    :width="60"
                                                )
                                            .input_label {{ label('dashboard_viewer.favorites_filters.overwrite_active_field_filters') }}
                                    
                                    hr.my-12

                                    div.select_favorites_filters
                                        h5.input_label {{ label('dashboard_viewer.favorites_filters.select_favorites') }}
                                        .row.select_favorites_filters_options
                                            template(v-for="(option, translatable_field_filters_code) in readable_active_field_filters")
                                                div.option.col-md-12
                                                    .input_wrapper  
                                                        toggle-button(
                                                            :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                                                            @change="handle_toggle_select_favorite_filter(option)"  
                                                            :name="base_filter + '_' + translatable_field_filters_code" 
                                                            :id="base_filter + '_' + translatable_field_filters_code" 
                                                            :value="is_field_filter_selected(option)" 
                                                            :sync="true"
                                                            :width="60"  
                                                        )                            
                                                    .input_label {{ get_translation_by_vo_field_ref_name_code_text(translatable_field_filters_code) }}: {{ option.readable_field_filters }}

                            #export_tab(v-show="active_tab_view == 'export_tab'")
                                template 

                                    div.favorites_filters_options
                                        h5.input_label {{ label('dashboard_viewer.favorites_filters.export_planification') }}

                                        .plan_export
                                            .input_wrapper  
                                                toggle-button(
                                                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                                                    @change="handle_toggle_is_export_planned"  
                                                    :value="is_export_planned" 
                                                    :sync="true"
                                                    :width="60"  
                                                )                            
                                            .input_label {{ label('dashboard_viewer.favorites_filters.should_plan_export') }}

                                        template(v-if="is_export_planned")

                                            .row.export_frequency_wrapper 
                                            
                                                .export_frequency_every.col-md-6
                                                    .input_label {{ label('dashboard_viewer.favorites_filters.export_frequency_every') }}
                                                    .input_wrapper
                                                        input(
                                                            v-model="export_frequency.every"
                                                            type="number"
                                                        )

                                                .export_frequency_granularity.col-md-6
                                                    //- .export_frequency_granularity_label {{ label('dashboard_viewer.favorites_filters.export_frequency_granularity') }}
                                                    .export_frequency_granularity_select
                                                        multiselect(
                                                            :options="export_frequency_granularity_options"                                                    
                                                            v-model="selected_export_frequency_granularity"

                                                            :close-on-select="true"
                                                            :show-labels="false"
                                                            :searchable="false"
                                                            :allow-empty="true"
                                                            track-by="value"
                                                            :custom-label='(e) => label(e.label)'
                                                            
                                                            :deselect-group-label='label("multiselect.deselectGroupLabel")'
                                                            :select-group-label='label("multiselect.selectGroupLabel")'
                                                            :selected-label='label("multiselect.selectedLabel")'
                                                            :deselect-label='label("multiselect.deselectLabel")'
                                                            :select-label='label("multiselect.selectLabel")'
                                                        )
                                                            
                                                            span(slot="noOptions") -

                                                            template(slot="option", slot-scope="props")
                                                                span.option__title {{ label(props.option.label) }}

                                                .export_frequency_day_in_month.col-md-12(v-if="can_add_export_frequency_day_in_month()")
                                                    .input_label {{ label('dashboard_viewer.favorites_filters.export_frequency_day_in_month') }}
                                                    .input_wrapper
                                                        input(
                                                            v-model="export_frequency.day_in_month"
                                                            type="number"
                                                            max='31'
                                                            min='1'
                                                        )
                                    
                                            hr.my-12

                                            h5.input_label {{ label('dashboard_viewer.favorites_filters.exportable_data') }}

                                            .select_exportable_data
                                                .input_label {{ label('dashboard_viewer.favorites_filters.select_exportable_data') }}
                                                .row.select_exportable_data_options
                                                    template(v-for="(option, title_name_code) in exportable_data")
                                                        div.option.col-md-12
                                                            .input_wrapper  
                                                                toggle-button(
                                                                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                                                                    @change="handle_toggle_select_exportable_data(title_name_code)"   
                                                                    :value="is_exportable_data_selected(title_name_code)" 
                                                                    :name="base_filter + '_' + title_name_code" 
                                                                    :id="base_filter + '_' + title_name_code" 
                                                                    :sync="true"
                                                                    :width="60"  
                                                                )                            
                                                            .input_label {{ t(title_name_code) }}

                .modal-footer
                    template(v-if="!favorites_filters?.id")
                        a.btn.btn-success(@click='handle_save') {{ label('crud.update.modal.save') }}
                    template(v-if="favorites_filters?.id")
                        a.btn.btn-success(@click='handle_save') {{ label('crud.update.modal.update') }}
                    template(v-if="favorites_filters?.id")
                        a.btn.btn-danger(@click='handle_delete') {{ label('crud.update.modal.delete') }}
                    a.btn.btn-default(data-dismiss="modal" @click='handle_close_modal') {{ label('crud.update.modal.cancel') }}