.field_value_filter_widget_component
    .can_select_multiple 
        .input_label {{ label('field_value_filter_widget_component.can_select_multiple') }}
        .input_wrapper
            toggle-button(
                @change="switch_can_select_multiple" 
                :value="can_select_multiple" 
                :sync="false"
                :width="60"
                :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}")
    .field_placeholder
        .input_label {{ label('field_value_filter_widget_component.placeholder_name_code_text') }}
        .input_wrapper
            Inlinetranslatabletext(
                v-if='widget_options && widget_options.get_placeholder_name_code_text(page_widget.id)'
                :code_text="widget_options.get_placeholder_name_code_text(page_widget.id)" 
                :is_editable="true"
                :default_translation="default_placeholder_translation")
    .max_visible_options
        .input_label {{ label('field_value_filter_widget_component.max_visible_options') }}
        .input_wrapper
            input(
                type="number"
                v-model="max_visible_options"
            )
    .field_ref 
        .input_label {{ label('field_value_filter_widget_component.vo_field_ref') }}
        .input_wrapper
            Singlevofieldrefholdercomponent(
                :vo_field_ref="vo_field_ref" @remove_field_ref="remove_field_ref" @add_field_ref="add_field_ref"
                :page_widget_id='page_widget ? page_widget.id : null'
            )
    
    template(v-if="is_type_string")
        .field_sort 
            .input_label {{ label('field_value_filter_widget_component.vo_field_sort') }}
            .input_wrapper
                Singlevofieldrefholdercomponent(
                    :vo_field_ref="vo_field_sort" @remove_field_ref="remove_field_sort" @add_field_ref="add_field_sort"
                    :page_widget_id='page_widget ? page_widget.id : null'
                )

        .is_checkbox 
            .input_label {{ label('field_value_filter_widget_component.is_checkbox') }}
            .input_wrapper
                toggle-button(
                    @change="switch_is_checkbox" 
                    :value="is_checkbox" 
                    :sync="false"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}")

        template(v-if="is_checkbox")
            .show_search_field 
                .input_label {{ label('field_value_filter_widget_component.show_search_field') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_show_search_field" 
                        :value="show_search_field" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}")
                        
            .field_ref_lvl2
                .input_label {{ label('field_value_filter_widget_component.vo_field_ref_lvl2') }}
                .input_wrapper
                    Singlevofieldrefholdercomponent(
                        :vo_field_ref="vo_field_ref_lvl2" @remove_field_ref="remove_field_ref_lvl2" @add_field_ref="add_field_ref_lvl2"
                        :page_widget_id='page_widget ? page_widget.id : null'
                    )

            template(v-if="vo_field_ref_lvl2")
                .hide_lvl2_if_lvl1_not_selected 
                    .input_label {{ label('field_value_filter_widget_component.hide_lvl2_if_lvl1_not_selected') }}
                    .input_wrapper
                        toggle-button(
                            @change="switch_hide_lvl2_if_lvl1_not_selected" 
                            :value="hide_lvl2_if_lvl1_not_selected" 
                            :sync="false"
                            :width="60"
                            :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                        )
    
    template(v-if="is_type_date")
        .segmentation_type 
            .input_label {{ label('field_value_filter_widget_component.segmentation_type') }}
            .input_wrapper
                multiselect(
                    :preselect-first="false"
                    :multiple="false"
                    :close-on-select="false"
                    v-model="tmp_segmentation_type"
                    :options="segmentation_type_options"
                    label="label"
                    autocomplete="off"

                    :searchable="true"
                    :internal-search="false"

                    track-by="id"
                                
                    :select-label='label("multiselect.selectLabel")'
                    :select-group-label='label("multiselect.selectGroupLabel")'
                    :selected-label='label("multiselect.selectedLabel")'
                    :deselect-label='label("multiselect.deselectLabel")'
                    :deselect-group-label='label("multiselect.deselectGroupLabel")'
                )