.field_value_filter_widget_options_component
    .page_widget_options(:id="'page_widget_options_' + page_widget.id" :key="'page_widget_options_' + page_widget.id")
        .can_select_multiple 
            .input_label {{ label('field_value_filter_widget_component.can_select_multiple') }}
            .input_wrapper
                toggle-button(
                    @change="switch_can_select_multiple" 
                    :value="can_select_multiple" 
                    :sync="false"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}")
        .field_placeholder
            .input_label {{ label('field_value_filter_widget_component.placeholder_name_code_text') }}
            .input_wrapper
                Inlinetranslatabletext(
                    v-if='widget_options && widget_options.get_placeholder_name_code_text(page_widget.id)'
                    :code_text="widget_options.get_placeholder_name_code_text(page_widget.id)" 
                    :is_editable="true"
                    :default_translation="default_placeholder_translation")
        .max_visible_options
            .input_label {{ label('field_value_filter_widget_component.max_visible_options') }}
            .input_wrapper
                input(
                    type="number"
                    v-model.number="max_visible_options"
                )
        .field_ref 
            .input_label {{ label('field_value_filter_widget_component.vo_field_ref') }}
            .input_wrapper
                Singlevofieldrefholdercomponent(
                    :vo_field_ref="vo_field_ref" @remove_field_ref="remove_field_ref" @add_field_ref="add_field_ref"
                    :page_widget_id='page_widget ? page_widget.id : null'
                )

        .field_hide_filter
            .input_label {{ label('field_value_filter_widget_component.hide_filter') }}
            .input_wrapper
                toggle-button(
                    @change="switch_hide_filter" 
                    :value="hide_filter" 
                    :sync="false"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                )

        .field_has_other_ref_api_type_id
                .input_label {{ label('field_value_filter_widget_component.has_other_ref_api_type_id') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_has_other_ref_api_type_id" 
                        :value="has_other_ref_api_type_id" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    )
        
        template(v-if='has_other_ref_api_type_id')
            .field_other_ref_api_type_id 
                .input_label {{ label('field_value_filter_widget_component.other_ref_api_type_id') }}
                .crud_api_type_id_select
                    .input_wrapper
                        multiselect(
                            :preselect-first="false"
                            :multiple="false"
                            v-model="crud_api_type_id_selected"
                            :placeholder="label('table_widget_options_component.crud_api_type_id_select')"
                            :options="crud_api_type_id_select_options"
                            :custom-label="crud_api_type_id_select_label"
                            :allow-empty="true",
                            autocomplete="off"

                            :searchable="true"
                            :internal-search="true"

                            id="crud_api_type_id_select"

                            :select-label='label("multiselect.selectLabel")'
                            :select-group-label='label("multiselect.selectGroupLabel")'
                            :selected-label='label("multiselect.selectedLabel")'
                            :deselect-label='label("multiselect.deselectLabel")'
                            :deselect-group-label='label("multiselect.deselectGroupLabel")'
                            )

        .field_no_inter_filter
            .input_label {{ label('field_value_filter_widget_component.no_inter_filter') }}
            .input_wrapper
                toggle-button(
                    @change="switch_no_inter_filter" 
                    :value="no_inter_filter" 
                    :sync="false"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                )

        .autovalidate_advanced_filter
            .input_label {{ label('field_value_filter_widget_component.autovalidate_advanced_filter') }}
            .input_wrapper
                toggle-button(
                    @change="switch_autovalidate_advanced_filter" 
                    :value="autovalidate_advanced_filter" 
                    :sync="false"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                )

        template(v-if="autovalidate_advanced_filter")
            .active_field_on_autovalidate_advanced_filter
                .input_label {{ label('field_value_filter_widget_component.active_field_on_autovalidate_advanced_filter') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_active_field_on_autovalidate_advanced_filter" 
                        :value="active_field_on_autovalidate_advanced_filter" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    )
 
        .add_is_null_selectable
            .input_label {{ label('field_value_filter_widget_component.add_is_null_selectable') }}
            .input_wrapper
                toggle-button(
                    @change="switch_add_is_null_selectable" 
                    :value="add_is_null_selectable" 
                    :sync="false"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                )

        .is_button
            .input_label {{ label('field_value_filter_widget_component.is_button') }}
            .input_wrapper
                toggle-button(
                    @change="switch_is_button" 
                    :value="is_button" 
                    :sync="false"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                )

        template(v-if="is_type_string")
            .advanced_mode
                .input_label {{ label('field_value_filter_widget_component.advanced_mode') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_advanced_mode" 
                        :value="advanced_mode" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    ) 

        template(v-if="is_type_string || is_type_enum")
            .can_select_all_option
                .input_label {{ label('field_value_filter_widget_component.can_select_all_option') }}
                .input_wrapper
                    toggle-button(
                        @change="toggle_can_select_all" 
                        :value="can_select_all" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    ) 

        template(v-if="is_type_string || is_type_enum")
            .can_select_none_option
                .input_label {{ label('field_value_filter_widget_component.can_select_none_option') }}
                .input_wrapper
                    toggle-button(
                        @change="toggle_can_select_none" 
                        :value="can_select_none" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    ) 

            .default_advanced_string_filter_type
                .input_label {{ label('field_value_filter_widget_component.default_advanced_string_filter_type') }}
                .input_wrapper
                    multiselect(
                        :preselect-first="true"
                        :multiple="false"
                        :close-on-select="true"
                        v-model="tmp_default_advanced_string_filter_type"
                        :options="filter_type_options"
                        :custom-label="filter_type_label"
                        autocomplete="off"

                        :show-labels="false"
                        :searchable="false"
                        :internal-search="false"
                        :hide-selected="false"
                        
                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )
                    
            .hide_btn_switch_advanced
                .input_label {{ label('field_value_filter_widget_component.hide_btn_switch_advanced') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_hide_btn_switch_advanced" 
                        :value="hide_btn_switch_advanced" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    ) 

            .placeholder_advanced_string_filter
                .input_label {{ label('field_value_filter_widget_component.placeholder_advanced_string_filter') }}
                .input_wrapper
                    Inlinetranslatabletext(
                        v-if='widget_options && widget_options.get_advanced_mode_placeholder_code_text(page_widget.id)'
                        :code_text="widget_options.get_advanced_mode_placeholder_code_text(page_widget.id)" 
                        :is_editable="true"
                    )

            .hide_advanced_string_filter_type
                .input_label {{ label('field_value_filter_widget_component.hide_advanced_string_filter_type') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_hide_advanced_string_filter_type" 
                        :value="hide_advanced_string_filter_type" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    ) 

            .vo_field_ref_multiple 
                .input_label {{ label('field_value_filter_widget_component.vo_field_ref_multiple') }}
                .input_wrapper
                    Multiplevofieldrefholdercomponent(
                        :vo_field_ref="vo_field_ref"
                        :vo_field_ref_multiple="vo_field_ref_multiple" @remove_field_ref="remove_field_ref_multiple" @add_field_ref="add_field_ref_multiple"
                        :page_widget_id='page_widget ? page_widget.id : null'
                    )

            .field_sort 
                .input_label {{ label('field_value_filter_widget_component.vo_field_sort') }}
                .input_wrapper
                    Singlevofieldrefholdercomponent(
                        :vo_field_ref="vo_field_sort" @remove_field_ref="remove_field_sort" @add_field_ref="add_field_sort"
                        :page_widget_id='page_widget ? page_widget.id : null'
                    )

            .is_checkbox
                .input_label {{ label('field_value_filter_widget_component.is_checkbox') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_is_checkbox" 
                        :value="is_checkbox" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    )

            template(v-if="is_checkbox")
                .checkbox_columns
                    .input_label {{ label('field_value_filter_widget_component.checkbox_columns') }}
                    .input_wrapper
                        multiselect(
                            :preselect-first="true"
                            :multiple="false"
                            :close-on-select="true"
                            v-model="checkbox_columns"
                            :options="checkbox_columns_options"
                            :custom-label="checkbox_columns_label"
                            autocomplete="off"

                            :show-labels="false"
                            :searchable="false"
                            :internal-search="false"
                            :hide-selected="false"
                            
                            :select-label='label("multiselect.selectLabel")'
                            :select-group-label='label("multiselect.selectGroupLabel")'
                            :selected-label='label("multiselect.selectedLabel")'
                            :deselect-label='label("multiselect.deselectLabel")'
                            :deselect-group-label='label("multiselect.deselectGroupLabel")'
                        )

                .show_search_field 
                    .input_label {{ label('field_value_filter_widget_component.show_search_field') }}
                    .input_wrapper
                        toggle-button(
                            @change="switch_show_search_field" 
                            :value="show_search_field" 
                            :sync="false"
                            :width="60"
                            :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}")
                            
                .separation_active_filter 
                    .input_label {{ label('field_value_filter_widget_component.separation_active_filter') }}
                    .input_wrapper
                        toggle-button(
                            @change="switch_separation_active_filter" 
                            :value="separation_active_filter" 
                            :sync="false"
                            :width="60"
                            :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}")
                            
                .field_ref_lvl2
                    .input_label {{ label('field_value_filter_widget_component.vo_field_ref_lvl2') }}
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="vo_field_ref_lvl2" @remove_field_ref="remove_field_ref_lvl2" @add_field_ref="add_field_ref_lvl2"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )

                template(v-if="vo_field_ref_lvl2")
                
                    .field_sort_lvl2
                        .input_label {{ label('field_value_filter_widget_component.vo_field_sort_lvl2') }}
                        .input_wrapper
                            Singlevofieldrefholdercomponent(
                                :vo_field_ref="vo_field_sort_lvl2" @remove_field_ref="remove_field_sort_lvl2" @add_field_ref="add_field_sort_lvl2"
                                :page_widget_id='page_widget ? page_widget.id : null'
                            )

                    .hide_lvl2_if_lvl1_not_selected 
                        .input_label {{ label('field_value_filter_widget_component.hide_lvl2_if_lvl1_not_selected') }}
                        .input_wrapper
                            toggle-button(
                                @change="switch_hide_lvl2_if_lvl1_not_selected" 
                                :value="hide_lvl2_if_lvl1_not_selected" 
                                :sync="false"
                                :width="60"
                                :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                            )
        
        template(v-if="is_type_date")
            .segmentation_type 
                .input_label {{ label('field_value_filter_widget_component.segmentation_type') }}
                .input_wrapper
                    multiselect(
                        :preselect-first="false"
                        :multiple="false"
                        :close-on-select="false"
                        v-model="tmp_segmentation_type"
                        :options="segmentation_type_options"
                        label="label"
                        autocomplete="off"

                        :searchable="true"
                        :internal-search="false"

                        track-by="id"
                                    
                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )


        .default_filter_opt_values 
            .input_label {{ label('field_value_filter_widget_component.default_filter_opt_values') }}
            .input_wrapper
                template(v-if="is_type_string || is_type_number || is_type_enum")
                    multiselect(
                        :preselect-first="false"
                        :multiple="can_select_multiple"
                        :close-on-select="false"
                        v-model="tmp_default_filter_opt_values"
                        :options="filter_visible_options"
                        :custom-label="filter_visible_label"
                        autocomplete="off"

                        :searchable="true"
                        :internal-search="false"
                        :hide-selected="true"

                        track-by="text_uid"
                        
                        :key="'field_value_filter_widget_options_component_' + vo_field_ref.api_type_id + '__' + vo_field_ref.field_id"
                        
                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'

                        @search-change="query_update_visible_options"
                    )
                    
                template(v-if="is_type_date")
                    Tsrangeinputcomponent(
                        v-model="tmp_default_ts_range_values"
                        :field="field"
                        :segmentation_type="segmentation_type"
                    )
                    
                template(v-if="is_type_boolean")
                    multiselect(
                        :preselect-first="false"
                        :multiple="true"
                        :close-on-select="false"
                        v-model="tmp_default_boolean_values"
                        :options="boolean_filter_type_options"
                        :custom-label="boolean_filter_type_label"

                        autocomplete="off"

                        :show-labels="false"
                        :searchable="false"
                        :internal-search="false"
                        :hide-selected="true"

                        :key="'field_value_filter_widget_options_component_' + vo_field_ref.api_type_id + '__' + vo_field_ref.field_id"
                        
                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )

        .exclude_filter_opt_values(v-if="is_type_string || is_type_number || is_type_enum || is_type_date") 
            .input_label {{ label('field_value_filter_widget_component.exclude_filter_opt_values') }}
            .input_wrapper
                template(v-if="is_type_string || is_type_number || is_type_enum")
                    multiselect(
                        :preselect-first="false"
                        :multiple="can_select_multiple"
                        :close-on-select="false"
                        v-model="tmp_exclude_filter_opt_values"
                        :options="filter_visible_options"
                        :custom-label="filter_visible_label"
                        autocomplete="off"

                        :searchable="true"
                        :internal-search="false"
                        :hide-selected="true"

                        track-by="text_uid"
                        
                        :key="'field_value_filter_widget_options_component_' + vo_field_ref.api_type_id + '__' + vo_field_ref.field_id"
                        
                        :select-label='label("multiselect.selectLabel")'
                        :select-group-label='label("multiselect.selectGroupLabel")'
                        :selected-label='label("multiselect.selectedLabel")'
                        :deselect-label='label("multiselect.deselectLabel")'
                        :deselect-group-label='label("multiselect.deselectGroupLabel")'

                        @search-change="query_update_visible_options"
                    )
                    
                template(v-if="is_type_date")
                    Tsrangeinputcomponent(
                        v-model="tmp_exclude_ts_range_values"
                        :field="field"
                        :segmentation_type="segmentation_type"
                    )

        template(v-if="is_type_enum")
            .show_count_value 
                .input_label {{ label('field_value_filter_widget_component.show_count_value') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_show_count_value" 
                        :value="show_count_value" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    )
                    
            .force_filter_all_api_type_ids
                .input_label {{ label('field_value_filter_widget_component.force_filter_all_api_type_ids') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_force_filter_all_api_type_ids" 
                        :value="force_filter_all_api_type_ids" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    )

            .btn.btn-primary(@click="set_show_hide_enum_color_options") {{ label('field_value_filter_widget_component.show_hide_enum_color_options') }}

            template(v-if="show_hide_enum_color_options")
                .enum_color_options
                    template(v-for='visible_option in filter_visible_options')
                        .enum_color_option.mb-2.mt-2
                            .enum_bg_color
                                color-picker(v-model="enum_bg_colors[visible_option.numeric_value]")
                            .enum_fg_color
                                color-picker(v-model="enum_fg_colors[visible_option.numeric_value]")
                            .enum_preview.btn.btn-primary(:style='getStyle(visible_option)') {{ filter_visible_label(visible_option) }}

        .color_options 
            .color_option
                .bg_color
                    .explication {{ label("field_value_filter_widget_component.bg_color") }}
                    color-picker(v-model="bg_color" @change='handle_colors_change')
                .fg_color_text
                    .explication {{ label("field_value_filter_widget_component.fg_color_text") }}
                    color-picker(v-model="fg_color_text" @change='handle_colors_change')
                    
                .preview(:style='{background: bg_color, color: fg_color_text}') {{ t(title_name_code_text) }}
