.month_filter_widget_component_options
    .field_hide_filter
        .input_label {{ label('month_filter_widget_component.hide_filter') }}
        .input_wrapper
            toggle-button(
                @change="switch_hide_filter" 
                :value="hide_filter" 
                :sync="false"
                :width="60"
                :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
            )

    .is_vo_field_ref 
        .input_label {{ label('month_filter_widget_component.is_vo_field_ref') }}
        .input_wrapper
            toggle-button(
                @change="switch_is_vo_field_ref"
                :value="is_vo_field_ref"
                :sync="false"
                :width="150"
                :labels="{checked: label('month_filter_widget_component.is_vo_field_ref.data'), unchecked: label('month_filter_widget_component.is_vo_field_ref.value')}")

    .month_relative_mode 
        .input_label {{ label('month_filter_widget_component.month_relative_mode') }}
        .input_wrapper
            toggle-button(
                @change="switch_month_relative_mode" 
                :value="month_relative_mode" 
                :sync="false"
                :width="150"
                :labels="{checked: label('month_filter_widget_component.month_relative_mode.data'), unchecked: label('month_filter_widget_component.month_relative_mode.value')}")

    .min_month
        .input_label {{ label('month_filter_widget_component.min_month') }}
        .input_wrapper
            input(
                type="number"
                v-model="min_month"
            )
    .max_month
        .input_label {{ label('month_filter_widget_component.max_month') }}
        .input_wrapper
            input(
                type="number"
                v-model="max_month"
            )

    .auto_select_month 
        .input_label {{ label('month_filter_widget_component.auto_select_month') }}
        .input_wrapper
            toggle-button(
                @change="switch_auto_select_month" 
                :value="auto_select_month" 
                :sync="false"
                :width="150"
                :labels="{checked: label('month_filter_widget_component.auto_select_month.data'), unchecked: label('month_filter_widget_component.auto_select_month.value')}")

    .auto_select_month_relative_mode 
        .input_label {{ label('month_filter_widget_component.auto_select_month_relative_mode') }}
        .input_wrapper
            toggle-button(
                @change="switch_auto_select_month_relative_mode" 
                :value="auto_select_month_relative_mode" 
                :sync="false"
                :width="150"
                :labels="{checked: label('month_filter_widget_component.auto_select_month_relative_mode.data'), unchecked: label('month_filter_widget_component.auto_select_month_relative_mode.value')}")

    .is_relative_to_other_filter(v-if='auto_select_month_relative_mode') 
        .input_label {{ label('month_filter_widget_component.is_relative_to_other_filter') }}
        .input_wrapper
            toggle-button(
                @change="switch_is_relative_to_other_filter" 
                :value="is_relative_to_other_filter" 
                :sync="false"
                :width="150"
                :labels="{checked: label('month_filter_widget_component.is_relative_to_other_filter.filter'), unchecked: label('month_filter_widget_component.is_relative_to_other_filter.now')}")

    .relative_to_other_filter_id(v-if='auto_select_month_relative_mode && is_relative_to_other_filter')
        .input_label {{ label('month_filter_widget_component.relative_to_other_filter_id') }}
        .input_wrapper
            select(v-model="relative_to_other_filter_id")
                option(v-for="(filter, name) in other_filters_by_name" :value="filter.id") {{ name }}
    
    template
        .can_select_all_option
            .input_label {{ label('month_filter_widget_component.can_select_all_option') }}
            .input_wrapper
                toggle-button(
                    @change="toggle_can_select_all" 
                    :value="can_select_all" 
                    :sync="false"
                    :width="150"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                ) 
           
    .auto_select_month_min(v-tooltip='(auto_select_month_relative_mode && is_relative_to_other_filter) ? label("month_filter_widget_component.auto_select_month.is_relative_to_other_filter.tooltip") : null')
        .input_label {{ label('month_filter_widget_component.auto_select_month_min') }}
        .input_wrapper
            input(
                type="number"
                v-model="auto_select_month_min"
            )

    .auto_select_month_max(v-tooltip='(auto_select_month_relative_mode && is_relative_to_other_filter) ? label("month_filter_widget_component.auto_select_month.is_relative_to_other_filter.tooltip") : null')
        .input_label {{ label('month_filter_widget_component.auto_select_month_max') }}
        .input_wrapper
            input(
                type="number"
                v-model="auto_select_month_max"
            )

    .field_ref(v-if='is_vo_field_ref')
        .input_label {{ label('month_filter_widget_component.vo_field_ref') }}
        .input_wrapper
            Singlevofieldrefholdercomponent(
                :vo_field_ref="vo_field_ref" @remove_field_ref="remove_field_ref" @add_field_ref="add_field_ref"
                :page_widget_id='page_widget ? page_widget.id : null'
            )
    .custom_filter_name(v-else)
        .input_label {{ label('month_filter_widget_component.custom_filter_name') }}
        .input_wrapper
            input(
                type="text"
                v-model="custom_filter_name"
            )
        .existing_custom_filters_list(v-if='has_existing_other_custom_filters')
            template(v-for='custom_filter in other_custom_filters')
                .custom_filter.clickable(@click='change_custom_filter(custom_filter)') {{ custom_filter }}
