.oselia_thread_widget_component_wrapper(@dragover.prevent='handle_drag_over' @drop.prevent='handle_drop' @dragleave.prevent='handle_drag_leave')
    //- template(v-if='too_many_threads')
    //-     .too_many_threads.bg-primary
    //-         i.fa-duotone.fa-filters
    //-         | {{ label('oselia_thread_widget_component.too_many_threads') }}

    Oselialeftpanelcomponent(
        :class="{'opened': get_left_panel_open}"
        :current_thread_id='current_thread_id ? current_thread_id : null'
    )
    
    .oselia_thread_widget_header 
        template(v-if='!get_left_panel_open')
            .oselia_thread_widget_header_icon_open
                i.fa.fa-chevron-right(@click="openLeftPanel")

    .oselia_thread_widget_component

        template(v-if='is_dragging')
            .dragging_overlay
                .dragging_overlay_text
                    i.fa-duotone.fa-upload
                    | {{ label('oselia_thread_widget_component.dragging_overlay_text') }}

        template(v-if="enable_link_image_menu")
            .link_image_menu
                .label_link_menu {{ label('oselia_thread_widget_component.link_image_menu.title') }}
                    input(v-model='link_image_url' :placeholder="label('oselia_thread_widget_component.link_image_menu.url_placeholder')")
                .buttons
                    button(v-on:click='upload_link_image') {{ label('oselia_thread_widget_component.image_upload_menu_item.upload') }}
                    button(v-on:click='cancel_link_image') {{ label('oselia_thread_widget_component.image_upload_menu_item.cancel') }}

        template(v-if='has_access_to_thread')
            template(v-if='is_loading_thread')
                .is_loading_thread
                    i.fa-duotone.fa-spinner-third.fa-spin

            template(v-else)
                .thread_container(ref='thread_container' :class="is_dragging ? 'blur' : '' ")  
                    //- .update_button 
                    //-     button.btn.btn-sm.btn-primary(v-on:click='force_reload')
                    //-         i.fa-duotone.fa-sync
                    
                    template(v-if='(!thread_messages) || (!thread_messages.length)')
                        .no_messages
                            i.fa-duotone.fa-comments
                            | {{ label('oselia_thread_widget_component.no_messages') }}
                    .thread_messages
                        template(v-for='thread_message in thread_messages')
                            Oseliathreadmessagecomponent(
                                :thread='thread'
                                :thread_message='thread_message'
                                @thread_message_updated='thread_message_updated'
                                @push_tts_file_id='push_tts_file_id'
                            )
                        template(v-if='thread.oselia_is_running')
                            .thread_message.thread_message_assistant
                                .thread_message_header
                                    .thread_message_header_left
                                        .thread_message_header_left_avatar
                                            img(:src='role_assistant_avatar_url')
                                        .thread_message_header_left_username
                                            | {{ label('oselia_thread_widget_component.thread_message_header_left_username.oselia') }}

                                    .thread_message_body
                                        .thread_message_body_content
                                            .thread_message_body_text
                                                i.fa-duotone.fa-spinner-third.fa-spin

                    .oselia_select_current_thread_assistant(v-if='get_show_hidden_messages')
                        multiselect(
                            :preselect-first="false"
                            :multiple="false"
                            :close-on-select="true"
                            v-model="currently_selected_assistant"
                            :options="selectable_assistants"
                            label="nom"
                            autocomplete="off"

                            :searchable="true"
                            :internal-search="false"

                            track-by="id"

                            :select-label='label("multiselect.selectLabel")'
                            :select-group-label='label("multiselect.selectGroupLabel")'
                            :selected-label='label("multiselect.selectedLabel")'
                            :deselect-label='label("multiselect.deselectLabel")'
                            :deselect-group-label='label("multiselect.deselectGroupLabel")'
                        )

                    .oselia_switch_auto_commit_auto_input(v-if='get_show_hidden_messages')
                        toggle-button(
                            @change="auto_commit_auto_input = !auto_commit_auto_input" 
                            :value="auto_commit_auto_input" 
                            :sync="true"
                            :width="200"
                            :labels="{checked: label('auto_commit_auto_input.auto'), unchecked: label('auto_commit_auto_input.manual')}")
                            
                    .oselia_runs(v-if='get_show_hidden_messages && oselia_runs && oselia_runs.length')
                        .oselia_runs_wrapper(:class="{'expand':expand_oselia_runs}")
                            .oselia_runs_header(@click='expand_oselia_runs = !expand_oselia_runs') {{ label('oselia_thread_widget_component.oselia_runs_header') }}
                                i.fa-duotone.fa-chevron-down(v-if='!expand_oselia_runs')
                                i.fa-duotone.fa-chevron-up(v-else)
                            .oselia_runs_content(v-if='expand_oselia_runs')
                                Oseliarunarbocomponent(
                                    :thread_id='thread.id'
                                    :parent_run_id='null'
                                )

                    .function_calls(v-if='get_show_hidden_messages && function_calls && function_calls.length')
                        
                        .function_calls_wrapper(:class="{'expand':expand_function_calls}")
                            .function_calls_header(@click='expand_function_calls = !expand_function_calls') {{ label('oselia_thread_widget_component.function_calls_header') }}
                                i.fa-duotone.fa-chevron-down(v-if='!expand_function_calls')
                                i.fa-duotone.fa-chevron-up(v-else)
                                
                            .function_calls_content(v-if='expand_function_calls')
                                Oseliarungraphwidgetcomponent(
                                    :page_widget='page_widget',
                                    :dashboard='dashboard',
                                    :dashboard_page='dashboard_page',
                                    :all_page_widget='all_page_widget',
                                    :thread_id='thread.id',
                                    class="in-chat-view",
                                )

                    .function_calls(v-if='get_show_hidden_messages && function_calls && function_calls.length')
                        
                        .function_calls_wrapper(:class="{'expand':expand_function_calls}")
                            .function_calls_header(@click='expand_function_calls = !expand_function_calls') {{ label('oselia_thread_widget_component.function_calls_header') }}
                                i.fa-duotone.fa-chevron-down(v-if='!expand_function_calls')
                                i.fa-duotone.fa-chevron-up(v-else)
                                
                            .function_calls_content(v-if='expand_function_calls')
                                template(v-for='function_call in function_calls')
                                    .function_call(:class='{"is_replay":!!function_call.replay_from_id}')
                                        template(v-if='!!functions_by_id[function_call.gpt_function_id]')
                                            .function_call_name {{ functions_by_id[function_call.gpt_function_id].gpt_function_name }}
                                                i(@click='replay_from_id(function_call.id)').fa-duotone.fa-play-circle
                                            vue-json-pretty.function_call_function_call_parameters_initial(:data='try_parse_json(function_call.function_call_parameters_initial)' :deep='1')
                                            vue-json-pretty.function_call_result(:data='try_parse_json(function_call.result)' :deep='1')
                                        template(v-else)
                                            .function_call_name {{ JSON.stringify(function_call) }}
                                                i(@click='replay_from_id(function_call.id)').fa-duotone.fa-play-circle
                                            vue-json-pretty.function_call_function_call_parameters_initial(:data='try_parse_json(function_call.function_call_parameters_initial)' :deep='1')
                                            vue-json-pretty.function_call_result(:data='try_parse_json(function_call.result)' :deep='1')


                    .thread_cached_datas(v-if='get_show_hidden_messages && thread_cached_datas && thread_cached_datas.length')
                        .thread_cached_datas_wrapper(:class="{'expand':expand_thread_cached_datas}")
                            .thread_cached_datas_header(@click='expand_thread_cached_datas = !expand_thread_cached_datas') {{ label('oselia_thread_widget_component.thread_cached_datas_header') }}
                                i.fa-duotone.fa-chevron-down(v-if='!expand_thread_cached_datas')
                                i.fa-duotone.fa-chevron-up(v-else)
                            .thread_cached_datas_content(v-if='expand_thread_cached_datas')
                                template(v-for='cached_data in thread_cached_datas')
                                    .thread_cached_data
                                        .thread_cached_data_key {{ cached_data.key }}
                                        vue-json-pretty.thread_cached_data_value(:data='try_parse_json(cached_data.value)' :deep='1')

                    .parent_thread(v-if='get_show_hidden_messages && thread.parent_thread_id' @click='select_thread_id(thread.parent_thread_id)') {{ label('oselia_thread_widget_component.parent_thread') }}

                    .sub_threads(v-if='get_show_hidden_messages && sub_threads && sub_threads.length')
                        .sub_threads_wrapper(:class="{'expand':expand_sub_threads}")
                            .sub_threads_header(@click='expand_sub_threads = !expand_sub_threads') {{ label('oselia_thread_widget_component.sub_threads_header') }}
                                i.fa-duotone.fa-chevron-down(v-if='!expand_sub_threads')
                                i.fa-duotone.fa-chevron-up(v-else)
                            .sub_threads_content(v-if='expand_sub_threads')
                                template(v-for='sub_thread in sub_threads')
                                    .sub_thread(@click='select_thread_id(sub_thread.id)') {{ sub_thread.thread_title }}

        
                    .thread_message_input
                        template(v-if="thread_files.length > 0")
                            .thread_files
                                template(v-for="(item, index) in thread_files")
                                    template(v-for="(value, key) in item")
                                        template(v-if="value.path")
                                            .thread_file
                                                button.fa-solid.fa-xmark(v-on:click='remove_file(index)')
                                                template(v-if="key == '.png' || key == '.jpg' || key == '.jpeg' || key == '.gif' || key == '.webp'")
                                                    img(:src="'/' + value.path")
                                                template(v-else-if="key == '.pdf'")
                                                    img(:src="'/public/vuejsclient/img/pdf.png'")
                                                template(v-else-if="key == '.csv'")
                                                    img(:src="'/public/vuejsclient/img/csv.png'")
                                                template(v-else-if="key == '.xlsx'")
                                                    img(:src="'/public/vuejsclient/img/xlsx.png'")
                                                template(v-else-if="key == '.txt'")
                                                    img(:src="'/public/vuejsclient/img/txt.png'")
                                                template(v-else-if="key == '.mp3'")
                                                    audio(preload="auto", autobuffer, controls)
                                                        source(:src="'/' + value.path")
                        .thread_message_input_textarea
                            textarea(v-model='new_message_text' rows="1" @keydown="handle_new_message_text_keydown" ref='new_message_textarea_ref')
                        .thread_message_input_buttons

                            .thread_message_input_voice
                                button.btn.btn-primary(
                                    @mousedown="start_recording",
                                    @mouseup="stop_recording",
                                    @touchstart.prevent="start_recording",
                                    @touchend.prevent="stop_recording"
                                    v-tooltip='label("oselia_thread_widget_component.thread_message_input_voice.tooltip")'
                                )
                                    template(v-if='input_voice_is_recording')
                                        .icon 
                                            i.fa-solid.fa-microphone.fa-beat.text-danger
                                        .text {{ label('oselia_thread_widget_component.thread_message_input_voice.listening') }}

                                    template(v-else-if='input_voice_is_transcribing')
                                        .icon 
                                            i.fa-duotone.fa-spinner-third.fa-spin
                                        .text {{ label('oselia_thread_widget_component.thread_message_input_voice.transcribing') }}

                                    template(v-else)
                                        .icon 
                                            i.fa-duotone.fa-solid.fa-microphone
                                        .text {{ label('oselia_thread_widget_component.thread_message_input_voice.talk') }}

                            //- .thread_message_input_summary
                            //-     button(
                            //-         @click='get_voice_summary',
                            //-         v-tooltip='label("oselia_thread_widget_component.thread_message_input_summary.tooltip")'
                            //-     )
                            //-         template(v-if='thread_message_input_summary_is_loading')
                            //-             .icon 
                            //-                 i.fa-duotone.fa-spinner-third.fa-spin
                            //-             .text {{ label('oselia_thread_widget_component.thread_message_input_summary.loading') }}
                            //-         template(v-else)
                            //-             .icon 
                            //-                 i.fa-duotone.fa-solid.fa-presentation-screen
                            //-             .text {{ label('oselia_thread_widget_component.thread_message_input_summary.summarize') }}



                            //- template(v-if="use_realtime_voice")
                            //-     .thread_message_input_voice 
                            //-         button.fa-solid.fa-microphone(v-on:click='start_voice_record')
                            .thread_message_input_button.thread_message_input_file_system
                                button.fa-solid.fa-files(v-on:click='open_file_system_upload')
                            .thread_message_input_button.thread_message_input_file
                                button.fa-solid.fa-paperclip(v-on:click='open_file_upload')
                            .thread_message_input_button.thread_message_input_image
                                button.fa-solid.fa-images(v-on:click='open_image_upload')
                                template(v-if="enable_image_upload_menu")
                                    .image_upload_menu
                                        .image_upload_menu_item(v-on:click='upload_image')
                                            i.fa-duotone.fa-upload
                                            | {{ label('oselia_thread_widget_component.image_upload_menu_item.upload') }}
                                        .image_upload_menu_item(v-on:click='open_link_image')
                                            i.fa-duotone.fa-images
                                            | {{ label('oselia_thread_widget_component.image_upload_menu_item.link') }}
                            .thread_message_input_button.thread_message_expand
                                button.fa-solid.fa-up-right-and-down-left-from-center(v-on:click='expand_window')
                            .thread_message_input_button.thread_message_debug(v-if="has_access_to_debug")
                                template(v-if="!get_show_hidden_messages")
                                    button.fa-solid.fa-bug(v-on:click='switch_show_hidden_messages')
                                template(v-else)
                                    button.fa-solid.fa-bug-slash(v-on:click='switch_show_hidden_messages')
                            .oselia_chat_btn_closed.fa-duotone.fa-vacuum-robot(v-if="!oselia_blocked && POLICY_CAN_USE_REALTIME" :class="{ 'opened': use_realtime_voice }" @click='switchOpenRealtime()')

                            
                                
                                
                        .thread_message_input_send
                            template(v-if='get_too_many_assistants')
                                .too_many_assistants.bg-warning
                                    i.fa-duotone.fa-comments-question
                                    | {{ label('oselia_thread_widget_component.too_many_assistants') }}
                            template(v-else-if='!get_can_run_assistant')
                                .no_assistant.bg-danger
                                    i.fa-duotone.fa-comments-question
                                    | {{ label('oselia_thread_widget_component.no_assistant') }}
                            template(v-else)
                                button.btn.btn-primary(v-on:click='send_message()' :disabled='assistant_is_busy || !new_message_text')
                                    i.fa-duotone.fa-paper-plane
                                    | {{ label('oselia_thread_widget_component.send_message') }}
        
        template(v-else)
            template(v-if='is_creating_thread')
                template(v-if='is_loading_thread')
                    .is_loading_thread
                        i.fa-duotone.fa-spinner-third.fa-spin
                template(v-else)
                    .thread_container(ref='thread_container' :class="is_dragging ? 'blur' : '' ")  
                        
                        .oselia_select_current_thread_assistant(v-if='get_show_hidden_messages')
                            multiselect(
                                :preselect-first="false"
                                :multiple="false"
                                :close-on-select="true"
                                v-model="currently_selected_assistant"
                                :options="selectable_assistants"
                                label="nom"
                                autocomplete="off"

                                :searchable="true"
                                :internal-search="false"

                                track-by="id"

                                :select-label='label("multiselect.selectLabel")'
                                :select-group-label='label("multiselect.selectGroupLabel")'
                                :selected-label='label("multiselect.selectedLabel")'
                                :deselect-label='label("multiselect.deselectLabel")'
                                :deselect-group-label='label("multiselect.deselectGroupLabel")'
                            )

                        .oselia_switch_auto_commit_auto_input(v-if='get_show_hidden_messages')
                            toggle-button(
                                @change="auto_commit_auto_input = !auto_commit_auto_input" 
                                :value="auto_commit_auto_input" 
                                :sync="true"
                                :width="200"
                                :labels="{checked: label('auto_commit_auto_input.auto'), unchecked: label('auto_commit_auto_input.manual')}")


                        .thread_message_input
                            template(v-if="thread_files.length > 0")
                                .thread_files
                                    template(v-for="(item, index) in thread_files")
                                        template(v-for="(value, key) in item")
                                            template(v-if="value.path")
                                                .thread_file
                                                    button.fa-solid.fa-xmark(v-on:click='remove_file(index)')
                                                    template(v-if="key == '.png' || key == '.jpg' || key == '.jpeg' || key == '.gif' || key == '.webp'")
                                                        img(:src="'/' + value.path")
                                                    template(v-else-if="key == '.pdf'")
                                                        img(:src="'/public/vuejsclient/img/pdf.png'")
                                                    template(v-else-if="key == '.csv'")
                                                        img(:src="'/public/vuejsclient/img/csv.png'")
                                                    template(v-else-if="key == '.xlsx'")
                                                        img(:src="'/public/vuejsclient/img/xlsx.png'")
                                                    template(v-else-if="key == '.txt'")
                                                        img(:src="'/public/vuejsclient/img/txt.png'")
                                                    template(v-else-if="key == '.mp3'")
                                                        audio(preload="auto", autobuffer, controls)
                                                            source(:src="'/' + value.path")

                            .thread_message_input_textarea
                                textarea(v-model='new_message_text' rows="1" @keydown="handle_new_message_text_keydown" ref='new_message_textarea_ref')
                            .thread_message_input_buttons

                                .thread_message_input_voice
                                    button.btn.btn-primary(
                                        @mousedown="start_recording",
                                        @mouseup="stop_recording",
                                        @touchstart.prevent="start_recording",
                                        @touchend.prevent="stop_recording"
                                        v-tooltip='label("oselia_thread_widget_component.thread_message_input_voice.tooltip")'
                                    )
                                        template(v-if='input_voice_is_recording')
                                            .icon 
                                                i.fa-solid.fa-microphone.fa-beat.text-danger
                                            .text {{ label('oselia_thread_widget_component.thread_message_input_voice.listening') }}

                                        template(v-else-if='input_voice_is_transcribing')
                                            .icon 
                                                i.fa-duotone.fa-spinner-third.fa-spin
                                            .text {{ label('oselia_thread_widget_component.thread_message_input_voice.transcribing') }}

                                        template(v-else)
                                            .icon 
                                                i.fa-duotone.fa-solid.fa-microphone
                                            .text {{ label('oselia_thread_widget_component.thread_message_input_voice.talk') }}

                                //- JNE je commente pour le moment, ça ressemble pas à du realtime, mais à creuser quand on le mettra vraiment en place. Pour le moment on teste un transcribe simple
                                //- template(v-if="use_realtime_voice")
                                //-     .thread_message_input_voice 
                                //-         button.fa-solid.fa-microphone(v-on:click='start_voice_record')
                                .thread_message_input_file_system
                                    button.fa-solid.fa-files(v-on:click='open_file_system_upload')
                                .thread_message_input_file
                                    button.fa-solid.fa-paperclip(v-on:click='open_file_upload')
                                .thread_message_input_image
                                    button.fa-solid.fa-images(v-on:click='open_image_upload')
                                    template(v-if="enable_image_upload_menu")
                                        .image_upload_menu
                                            .image_upload_menu_item(v-on:click='upload_image')
                                                i.fa-duotone.fa-upload
                                                | {{ label('oselia_thread_widget_component.image_upload_menu_item.upload') }}
                                            .image_upload_menu_item(v-on:click='open_link_image')
                                                i.fa-duotone.fa-images
                                                | {{ label('oselia_thread_widget_component.image_upload_menu_item.link') }}
                                //- Oseliarealtimebutton(
                                //-     :has_access_to_thread='has_access_to_thread'
                                //-     :gpt_thread_id='thread ? (thread.gpt_thread_id ? thread.gpt_thread_id : null) : null'
                                //- )
                                


                                .thread_message_expand
                                    button.fa-solid.fa-up-right-and-down-left-from-center(v-on:click='expand_window')

                                .thread_message_input_button.thread_message_debug(v-if="has_access_to_debug")
                                    template(v-if="!get_show_hidden_messages")
                                        button.fa-solid.fa-bug(v-on:click='switch_show_hidden_messages')
                                    template(v-else)
                                        button.fa-solid.fa-bug-slash(v-on:click='switch_show_hidden_messages')
                                .oselia_chat_btn_closed.fa-duotone.fa-vacuum-robot(v-if="!oselia_blocked && POLICY_CAN_USE_REALTIME" :class="{ 'opened': use_realtime_voice }" @click='switchOpenRealtime()')

                                    
                            .thread_message_input_send
                                button.btn.btn-primary(v-on:click='send_create_thread_message()' :disabled='assistant_is_busy || !new_message_text')
                                    i.fa-duotone.fa-paper-plane
                                    | {{ label('oselia_thread_widget_component.send_message') }}
                    //- .no_access.bg-warning
                    //-     i.fa-duotone.fa-user-lock.fa-beat-fade(style='--fa-animation-iteration-count: 3')
                    //-     | {{ label('oselia_thread_widget_component.no_access') }}
            
