.on_page_translation.hide-print(v-if="isActive")
    .openclose_on_page_translation_module_wrapper
        template(v-if="!isOpened")
            button.btn.btn-secondary(type="button" @click='openModule()') {{ label('on_page_translation.open_button_title') }}
                span.badge.badge-success(v-if='missingTranslationsNumber == 0') 0
                span.badge.badge-danger(v-else) {{ missingTranslationsNumber }}
        template(v-else)
            button.btn.btn-success(type="button" @click='closeModule()') {{ label('on_page_translation.close_button_title') }}

    .on_page_translation_module_wrapper(v-if="isOpened")
        .row.import_translations
            .col-sm-4
                label(:for="imported_translations") {{ label('on_page_translation.import_translations') }}
            .col-sm-5
                input.form-control(
                    class="bg-info" 
                    :name="imported_translations" 
                    type="text" 
                    size="100" 
                    v-model="imported_translations"
                    @keyup.13="import_translations" )
            .col-sm-3
                button.btn.btn-success(v-if="(!!imported_translations) && (imported_translations != '')" type="button" @click='import_translations')
                    i.fa-solid.fa-check.btn_icon(aria-hidden="true")
                    | {{ label('on_page_translation.import_translations_action') }}

        template(v-for='editable_translation in editable_translations')
            .row.editable_translation
                .col-sm-12
                    .row
                        .col-sm-4
                            label(:for="editable_translation.translation_code") {{ editable_translation.translation_code }}
                        .col-sm-5

                            input.form-control(
                                :class="{'bg-warning': !editable_translation.translation}" 
                                :name="editable_translation.translation_code" 
                                type="text" 
                                size="100" 
                                v-model="editable_translation.editable_translation"
                                @keyup.13="save_translation(editable_translation)")
                        .col-sm-3
                            toggle-button(
                                @change="switch_show_other_langs(editable_translation)" 
                                :value="show_other_langs[editable_translation.translation_code]" 
                                :sync="true"
                                :width="120"
                                :labels="{checked: label('on_page_translation.show_other_langs'), unchecked: label('on_page_translation.hide_other_langs')}")
                            button.btn.btn-secondary(v-if="updated_translation(editable_translation)" type="button" @click='rollback_translation(editable_translation)')
                                i.fa-solid.fa-undo.btn_icon(aria-hidden="true")
                                | {{ label('on_page_translation.rollback_button') }}
                            button.btn.btn-success(v-if="updated_translation(editable_translation)" type="button" @click='save_translation(editable_translation)')
                                i.fa-solid.fa-check.btn_icon(aria-hidden="true")
                                | {{ label('on_page_translation.save_button') }}
                            button.btn.btn-primary.get_gpt_translation(type="button" @click='get_gpt_translation(editable_translation)')
                                i.fa-comments-question.fa-duotone.btn_icon(aria-hidden="true")
                                | {{ label('on_page_translation.get_gpt_translation') }}
                    template(v-if="show_other_langs[editable_translation.translation_code]")
                        template(v-for="lang in other_langs")
                            template(v-if="(!translations_loaded[lang.code_lang]) || (!translations_loaded[lang.code_lang][editable_translation.translation_code])")
                                .row.other_langs
                                    .col-sm-4.lang-col
                                        .lang {{ lang.code_lang }}
                                    .col-sm-5.translated-col
                                        .translated
                                            i.fa-solid.fa-spinner.fa-spin
                                    .col-sm-3
                            template(v-else)
                                .row.other_langs(v-if="(!!translations[lang.code_lang][editable_translation.translation_code])")
                                    .col-sm-4.lang-col
                                        .lang {{ lang.code_lang }}
                                    .col-sm-5.translated-col
                                        .translated {{ translations[lang.code_lang][editable_translation.translation_code].translated }}
                                    .col-sm-3


