.my_account_page
    template(v-if='user')
        .my_account_header
            .row
                .col-md-8
                    .my_account_name {{ user.name }}
                .col-md-4.right
                    button.btn.btn-danger.btn-block.btn-flat(@click="logout") {{ label('client.logout') }}

        .my_account_custcomps
            template(v-for='custcomp in registered_components')
                .cust_comp(:is="custcomp")

        .my_account_content(id="my_account_content")
            .row
                .col-md-6
                    .my_account_infos 
                        .row
                            .col-md-12
                                h3.my_account_content_header {{ label('my_account_page.my_account_content_header') }}
                        .row 
                            .col-md-12
                                .my_account_login(v-tooltip='editable_login_tooltip')
                                    i.fa.fa-id-card.fa-fw(aria-hidden="true")
                                    Crudcomponentfield(
                                        @onchangevo='onchangevo'
                                        :field="editable_login"
                                        :vo="user"
                                        :auto_update_field_value='true'
                                        :inline_input_mode='true'
                                        :inline_input_hide_label='true'
                                        :inline_input_read_value="user.name"
                                        key='editable_login'
                                        :inline_input_show_clear='false'
                                        :inline_input_mode_semaphore='true'
                                        :show_insert_or_update_target='false'
                                    )
                        .row(v-if='show_firstname_field')
                            .col-md-12
                                .my_account_firstname(v-tooltip='editable_firstname_tooltip')
                                    i.fa.fa-id-card.fa-fw(aria-hidden="true")
                                    Crudcomponentfield(
                                        @onchangevo='onchangevo'
                                        :field="editable_firstname"
                                        :vo="user"
                                        :auto_update_field_value='true'
                                        :inline_input_mode='true'
                                        :inline_input_hide_label='true'
                                        :inline_input_read_value="user.firstname"
                                        key='editable_firstname'
                                        :inline_input_show_clear='false'
                                        :inline_input_mode_semaphore='true'
                                        :show_insert_or_update_target='false'
                                    )
                        .row(v-if='show_lastname_field')
                            .col-md-12
                                .my_account_lastname(v-tooltip='editable_lastname_tooltip')
                                    i.fa.fa-id-card.fa-fw(aria-hidden="true" style='opacity:0')
                                    Crudcomponentfield(
                                        @onchangevo='onchangevo'
                                        :field="editable_lastname"
                                        :vo="user"
                                        :auto_update_field_value='true'
                                        :inline_input_mode='true'
                                        :inline_input_hide_label='true'
                                        :inline_input_read_value="user.lastname"
                                        key='editable_lastname'
                                        :inline_input_show_clear='false'
                                        :inline_input_mode_semaphore='true'
                                        :show_insert_or_update_target='false'
                                    )
                        .row 
                            .col-md-12
                                .my_account_email(v-tooltip='editable_email_tooltip')
                                    i.fa.fa-envelope.fa-fw(aria-hidden="true")
                                    Crudcomponentfield(
                                        @onchangevo='onchangevo'
                                        :field="editable_email"
                                        :vo="user"
                                        :auto_update_field_value='true'
                                        :inline_input_mode='true'
                                        :inline_input_hide_label='true'
                                        :inline_input_read_value="user.email"
                                        key='editable_email'
                                        :inline_input_show_clear='false'
                                        :inline_input_mode_semaphore='true'
                                        :show_insert_or_update_target='false'
                                    )
                        .row
                            .col-md-12
                                .my_account_phone(v-tooltip='editable_phone_tooltip')
                                    i.fa.fa-mobile.fa-fw(aria-hidden="true")
                                    Crudcomponentfield(
                                        @onchangevo='onchangevo'
                                        :field="editable_phone"
                                        :vo="user"
                                        :auto_update_field_value='true'
                                        :inline_input_mode='true'
                                        :inline_input_hide_label='true'
                                        :inline_input_read_value="user.phone"
                                        key='editable_phone'
                                        :inline_input_show_clear='false'
                                        :inline_input_mode_semaphore='true'
                                        :show_insert_or_update_target='false'
                                    )

                .col-md-6.my_account_plugins
                    .row 
                        .col-md-12
                            .my_account_nfc 
                                Nfcconnectlogincomponent()
                                Nfcusertaglistcomponent()

                    .row 
                        .col-md-12
                            .my_account_session_share
                                Sessionsharecomponent()