.list_object_widget_options_component
    template(v-if='widget_options')
        .options_separator_lvl1 {{ label('list_object_widget_options_component.separator.widget_options') }}
        .surtitre
            .widget_surtitre_label {{ label('list_object_widget_options_component.widget_surtitre.surtitre') }}
            .widget_surtitre_wrapper
                .field_ref
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="surtitre_field_ref" @remove_field_ref="remove_surtitre_field_ref" @add_field_ref="add_surtitre_field_ref"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )
            .widget_surtitre_symbole {{ label('list_object_widget_options_component.symbole_surtitre') }}
                input.form-control(type='text' v-model='symbole_surtitre')
            
        .title
            .widget_title_label {{ label('list_object_widget_options_component.widget_title.title') }}
            .widget_title_wrapper
                .field_ref
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="title_field_ref" @remove_field_ref="remove_title_field_ref" @add_field_ref="add_title_field_ref"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )
        .subtitle
            .widget_subtitle_label {{ label('list_object_widget_options_component.widget_subtitle.subtitle') }}
            .widget_subtitle_wrapper
                .field_ref
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="subtitle_field_ref" @remove_field_ref="remove_subtitle_field_ref" @add_field_ref="add_subtitle_field_ref"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )
            .widget_symbole_sous_titre {{ label('list_object_widget_options_component.symbole_sous_titre') }}
                input.form-control(type='text' v-model='symbole_sous_titre')

        .image
            .widget_image_label {{ label('list_object_widget_options_component.widget_image.image') }}
            .widget_image_wrapper
                .field_ref
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="image_field_ref" @remove_field_ref="remove_image_field_ref" @add_field_ref="add_image_field_ref"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )

        .number        
            .widget_number_label {{ label('list_object_widget_options_component.widget_number.number') }}
            .widget_number_wrapper
                .field_ref
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="number_field_ref" @remove_field_ref="remove_number_field_ref" @add_field_ref="add_number_field_ref"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )

        .sort_field_ref
            .input_label {{ label('list_object_widget_options_component.sort_field_ref') }}
            .widget_filter_wrapper
                .field_ref
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="_sort_field_ref" @remove_field_ref="remove_sort_field_ref" @add_field_ref="add_sort_field_ref"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )

        template(v-if="sort_field_ref")
            .sort_dimension_by
                .input_label {{ label('list_object_widget_options_component.sort_dimension_by') }}
                .input_wrapper
                    .switch_toggle
                        .input(id="Ascending" @click="change_sort_dimension('Ascending')" name="state-d" type="radio" :class="{'selected': (sort_dimension_by=='Ascending') }" )
                            label(for="Ascending") Ascending
                        .input(id="Descending" @click="change_sort_dimension('Descending')" name="state-d" type="radio" :class="{'selected': (sort_dimension_by=='Descending') }" )
                            label(for="Descending") Descending


        .number_of_elements
            .input_label {{ label('list_object_widget_options_component.number_of_elements') }}
            .number_of_elements
                .input_wrapper
                    input(
                        type="number"
                        v-model="number_of_elements"
                        v-tooltip="label('list_object_widget_options_component.number_of_elements.tooltip')"
                    )

        .type_display
            .input_label {{ label('list_object_widget_options_component.type_display') }}
            .input_wrapper
                .switch_toggle
                    .input(:id="'TYPE_DISPLAY_' + TYPE_DISPLAY_CARD" @click="change_type_display(TYPE_DISPLAY_CARD)" name="state-d" type="radio" :class="{'selected': (type_display==TYPE_DISPLAY_CARD) }" )
                        label(:for="'TYPE_DISPLAY_' + TYPE_DISPLAY_CARD") {{ t(TYPE_DISPLAY_LABELS[TYPE_DISPLAY_CARD]) }}
                    .input(:id="'TYPE_DISPLAY_' + TYPE_DISPLAY_LIST" @click="change_type_display(TYPE_DISPLAY_LIST)" name="state-d" type="radio" :class="{'selected': (type_display==TYPE_DISPLAY_LIST) }" )
                        label(:for="'TYPE_DISPLAY_' + TYPE_DISPLAY_LIST") {{ t(TYPE_DISPLAY_LABELS[TYPE_DISPLAY_LIST]) }}

        template(v-if="type_display==TYPE_DISPLAY_CARD")
            .display_orientation
                .input_label {{ label('list_object_widget_options_component.display_orientation') }}
                .input_wrapper
                    .switch_toggle
                        .input(:id="'DISPLAY_ORIENTATION_' + DISPLAY_ORIENTATION_HORIZONTAL" @click="change_display_orientation(DISPLAY_ORIENTATION_HORIZONTAL)" name="state-d" type="radio" :class="{'selected': (display_orientation==DISPLAY_ORIENTATION_HORIZONTAL) }" )
                            label(:for="'DISPLAY_ORIENTATION_' + DISPLAY_ORIENTATION_HORIZONTAL") {{ t(DISPLAY_ORIENTATION_LABELS[DISPLAY_ORIENTATION_HORIZONTAL]) }}
                        .input(:id="'DISPLAY_ORIENTATION_' + DISPLAY_ORIENTATION_VERTICAL" @click="change_display_orientation(DISPLAY_ORIENTATION_VERTICAL)" name="state-d" type="radio" :class="{'selected': (display_orientation==DISPLAY_ORIENTATION_VERTICAL) }" )
                            label(:for="'DISPLAY_ORIENTATION_' + DISPLAY_ORIENTATION_VERTICAL") {{ t(DISPLAY_ORIENTATION_LABELS[DISPLAY_ORIENTATION_VERTICAL]) }}

        template(v-if="(type_display==TYPE_DISPLAY_CARD) && (display_orientation==DISPLAY_ORIENTATION_HORIZONTAL)")
            .card_width
                .input_label {{ label('list_object_widget_options_component.card_width') }}
                .input_wrapper
                    toggle-button(
                        @change="switch_is_card_display_single" 
                        :value="is_card_display_single" 
                        :sync="false"
                        :width="60"
                        :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}" 
                    )

        .button_for_elements
            .input_label {{ label('list_object_widget_options_component.button_for_elements') }}
            .input_wrapper
                toggle-button(
                    @change="switch_button_for_elements" 
                    :value="button_elements" 
                    :sync="false"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}" 
                )

        template(v-if="button_elements")
            .url
                .field_ref
                    .input_label {{ label('list_object_widget_options_component.url') }}
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="url_field_ref" @remove_field_ref="remove_url_field_ref" @add_field_ref="add_url_field_ref"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )

            template(v-if="url")
                .use_blank
                    .input_label {{ label('list_object_widget_options_component.use_blank') }}
                    .input_wrapper
                        toggle-button(
                            @change="switch_use_blank" 
                            :value="blank" 
                            :sync="false"
                            :width="60"
                            :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}" 
                        )

        .show_message_no_data
            .input_label {{ label('listobject_widget.show_message_no_data') }}
            toggle-button(
                @change="switch_show_message_no_data" 
                :value="show_message_no_data" 
                :sync="true"
                :width="100"
                :labels="{checked: label('listobject_widget.show_message_no_data.visible'), unchecked: label('listobject_widget.show_message_no_data.hidden')}")

        template(v-if="show_message_no_data")
            .message_no_data
                .input_label {{ label('listobject_widget.message_no_data') }}
                Vuequilleditor(v-model='message_no_data', :options="optionsEditeur")
        
        .filter_on_cmv_vo
            .input_label {{ label('listobject_widget.filter_on_cmv_vo') }}
            toggle-button(
                @change="switch_filter_on_cmv_vo" 
                :value="filter_on_cmv_vo" 
                :sync="true"
                :width="100"
                :labels="{checked: label('listobject_widget.filter_on_cmv_vo.visible'), unchecked: label('listobject_widget.filter_on_cmv_vo.hidden')}")

        template(v-if="filter_on_cmv_vo")
            .field_filter_cmv_vo
                .field_ref
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="field_filter_cmv_vo_field_ref" @remove_field_ref="remove_field_filter_cmv_vo_field_ref" @add_field_ref="add_field_filter_cmv_vo_field_ref"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )
        
        .filter_on_distant_vo
            .input_label {{ label('listobject_widget.filter_on_distant_vo') }}
            toggle-button(
                @change="switch_filter_on_distant_vo" 
                :value="filter_on_distant_vo" 
                :sync="true"
                :width="100"
                :labels="{checked: label('listobject_widget.filter_on_distant_vo.visible'), unchecked: label('listobject_widget.filter_on_distant_vo.hidden')}")

        template(v-if="filter_on_distant_vo")
            .field_filter_distant_vo
                .field_ref
                    .input_wrapper
                        Singlevofieldrefholdercomponent(
                            :vo_field_ref="field_filter_distant_vo_field_ref" @remove_field_ref="remove_field_filter_distant_vo_field_ref" @add_field_ref="add_field_filter_distant_vo_field_ref"
                            :page_widget_id='page_widget ? page_widget.id : null'
                        )

        .do_not_use_page_widget_ids
            .input_label {{ label('list_object_widget_options_component.do_not_use_page_widget_ids') }}
            multiselect(
                :preselect-first="false"
                :multiple="true"
                v-model="do_not_use_page_widgets"
                :placeholder="label('list_object_widget_options_component.do_not_use_page_widget_ids')"
                :options="page_widget_options"
                :custom-label="page_widget_label"
                :allow-empty="true",
                autocomplete="off"

                :searchable="true"
                :internal-search="true"

                track-by="id"

                id="do_not_use_page_widgets"

                :select-label='label("multiselect.selectLabel")'
                :select-group-label='label("multiselect.selectGroupLabel")'
                :selected-label='label("multiselect.selectedLabel")'
                :deselect-label='label("multiselect.deselectLabel")'
                :deselect-group-label='label("multiselect.deselectGroupLabel")'
            )
