.cms_image_widget_options_component
    .cms_image_widget_options_component_wrapper
        .image_bloc
            span.logo-lg
                vue-dropzone(ref="filedropzone" id="filedropzone" :options="dropzoneOptions")

        .radius_bloc 
            .input_label {{ label('cms_image.widget_option.radius') }}
            .input_wrapper
                input(
                    type="number"
                    v-model="radius"
                )
        
        .input_label {{ label('cms_image.widget_option.position') }}
        .input_wrapper
            multiselect.var_name_selector(
                :preselect-first="false"
                :multiple="false"
                v-model="position_selected"
                :options="position_options"
                :allow-empty="false",

                :searchable="true"
                :internal-search="true"
                
                select-label=''
                select-group-label=''
                selected-label=''
                deselect-label=''
                deselect-group-label=''

                placeholder=''
                
                name="position_selector"
                
            )
        
        .input_label {{ label('cms_image.widget_option.mise_en_page') }}
        .input_wrapper
            multiselect.var_name_selector(
                :preselect-first="false"
                :multiple="false"
                v-model="mise_en_page_selected"
                :options="mise_en_page_options"
                :allow-empty="false",

                :searchable="true"
                :internal-search="true"
                
                select-label=''
                select-group-label=''
                selected-label=''
                deselect-label=''
                deselect-group-label=''

                placeholder=''
                
                name="mise_en_page_selector"
                
            )