.cms_boolean_button_widget_options_component
    .cms_boolean_button_widget_options_component_wrapper

        .widget_vo_label
            .widget_vo_label {{ label('cms_boolean_button.widget_option.vo_field_ref') }}
            .widget_vo_wrapper

                .widget_vo_wrapper_input
                    Singlevofieldrefholdercomponent(
                        :vo_field_ref="vo_field_ref"
                        @remove_field_ref="remove_vo_field_ref"
                        @add_field_ref="add_vo_field_ref"
                        :page_widget_id='page_widget ? page_widget.id : null'
                    )

        .widget_user_label
            .widget_user_label {{ label('cms_boolean_button.widget_option.user_field_ref') }}
            .widget_user_wrapper

                .widget_user_wrapper_input
                    Singlevofieldrefholdercomponent(
                        :vo_field_ref="user_field_ref"
                        @remove_field_ref="remove_user_field_ref"
                        @add_field_ref="add_user_field_ref"
                        :page_widget_id='page_widget ? page_widget.id : null'
                    )
        
        .widget_title_ok_label {{ label('cms_boolean_button.widget_option.titre_ok') }}
            .widget_title_ok_wrapper
                input(
                    type="text"
                    v-model="title_ok"
                )
        .widget_title_nok_label {{ label('cms_boolean_button.widget_option.titre_nok') }}
            .widget_title_nok_wrapper
                input(
                    type="text"
                    v-model="title_nok"
                )
        
        .widget_icone_ok_label {{ label('cms_boolean_button.widget_option.icone_ok') }}
            .widget_icone_ok_wrapper
                input(
                    type="text"
                    v-model="icone_ok"
                    v-tooltip='label("cms_boolean_button.widget_option.icone.tooltip")'
                )
        .widget_icone_nok_label {{ label('cms_boolean_button.widget_option.icone_nok') }}
            .widget_icone_wrapper
                input(
                    type="text"
                    v-model="icone_nok"
                    v-tooltip='label("cms_boolean_button.widget_option.icone.tooltip")'
                )

        .widget_button_color {{ label("cms_boolean_button.widget_option.color") }}
            color-picker(v-model="color" @change='update_options')

        .text_color_label {{ label('cms_boolean_button.widget_option.text_color') }}
            color-picker(v-model="text_color" @change='update_options')

        .radius_bloc 
            .input_label {{ label('cms_image.widget_option.radius') }}
            .input_wrapper
                input(
                    type="number"
                    v-model="radius"
                )