.var_widget_options_component
    .var_name 
        .input_label {{ label('var_widget_options_component.var_name') }}
        .input_wrapper
            multiselect.var_name_selector(
                :preselect-first="false"
                :multiple="false"
                v-model="tmp_selected_var_name"
                :options="var_names"
                :allow-empty="false",

                :searchable="true"
                :internal-search="true"
                
                select-label=''
                select-group-label=''
                selected-label=''
                deselect-label=''
                deselect-group-label=''

                placeholder=''
                
                name="var_name_selector"
            )
                .lang_selector_option(slot="noOptions") -

    .widget_title(v-if='title_name_code_text')
        .widget_title_label {{ label('var_widget_options_component.widget_title.title_name_code_text') }}
        .widget_title_wrapper
            Inlinetranslatabletext(
                :code_text="title_name_code_text" 
                :is_editable="true"
                :default_translation="default_title_translation")

    .widget_filter_options(v-if='title_name_code_text && widget_options')
        .widget_filter_options_label {{ label('var_widget_options_component.widget_filter_options') }}
        .widget_filter_options_wrapper
            Widgetfilteroptionscomponent(
                :actual_additional_options="widget_options.filter_additional_params"
                :actual_filter_type="widget_options.filter_type"
                @update_additional_options="update_additional_options"
                @update_filter_type="update_filter_type"
            )

    template(v-if='fields_that_could_get_custom_filter && fields_that_could_get_custom_filter.length')
        .fields_that_could_get_custom_filter
            template(v-for='field_that_could_get_custom_filter in fields_that_could_get_custom_filter')
                .field_that_could_get_custom_filter
                    .field_id {{ field_that_could_get_custom_filter }}
                    .custom_filter 
                        input(
                            type="text"
                            v-model="custom_filter_names[field_that_could_get_custom_filter]"
                            :disabled="true"
                        )
                    .existing_custom_filters_list(v-if='get_custom_filters && get_custom_filters.length')
                        template(v-for='custom_filter in get_custom_filters')
                            .custom_filter.clickable(@click='change_custom_filter(field_that_could_get_custom_filter, custom_filter)') {{ custom_filter }}

    .color_options 
        .color_option
            .bg_color
                .explication {{ label("var_widget_options_component.bg_color") }}
                color-picker(v-model="bg_color" @change='throttled_update_colors')
            .fg_color_value
                .explication {{ label("var_widget_options_component.fg_color_value") }}
                color-picker(v-model="fg_color_value" @change='throttled_update_colors')
            .fg_color_text
                .explication {{ label("var_widget_options_component.fg_color_text") }}
                color-picker(v-model="fg_color_text" @change='throttled_update_colors')
                
            .preview(:style='{background: bg_color, color: fg_color_value}') {{ t(title_name_code_text) }}
