.OseliaRunGraphWidgetComponent
    // Le bouton + pour afficher/cacher le AddPanel
    .buttons
        button.add-button.btn-success(
            v-if="showPlusButton"
            @click="showAddPanel = !showAddPanel"
        ) +

        button.clear-button.btn-danger(
            v-if="showClearButton"
            @click="clearAll"
        ) {{ label('oselia_run_graph_widget_component.clear_button') }}

        button.autofit-button.btn-primary(
            v-if="showAutofitButton"
            @click="doAutofit"
        ) {{ label('oselia_run_graph_widget_component.autofit_button') }}

    template(v-if='has_agent')
       
        // On insère le Canvas
        CanvasDiagram(
            :items="items"
            :selectedItem.sync="selectedItem"
            :updatedItem="updatedItem"
            :reDraw="reDraw"
            :isRunVo="is_single_run_found"
            :executeAutofit="executeAutofit"
            @select_item="selectItem"
            @canAutofit="canAutofit"
        )
    template(v-else)
        h1 {{ label('oselia_run_graph_widget_component.no_agent') }}
        p {{ label('oselia_run_graph_widget_component.no_agent_description') }}
        
    
        
    // Panel de sélection d'item
    SelectionPanel(
        v-if="selectedItem"
        :items="items"
        :selectedItem="selectedItem"
        :selectedItemRunInfo="selectedItemRunInfo"
        :removeItemFn="removeItem"
        :editItemFn="editSelectItem"
        @replayFunctionCall="replayFunctionCall"
    )

    // Panel d'ajout
    AddPanel(
        v-if="showAddPanel"
        :items="choices_of_item"
        :addItemFn="addItem"
    )

