.advanced_date_filter_widget_component
    template(v-if="((!!is_vo_field_ref) && !!vo_field_ref) || ((!is_vo_field_ref) && !!custom_filter_name)")
        .vo_field_ref_label(v-if='(!!is_vo_field_ref) && !!vo_field_ref') {{ vo_field_ref_label }}
        .vo_field_ref_label(v-if='(!is_vo_field_ref) && !!custom_filter_name') {{ custom_filter_name }}
        
        template(v-if="opts && (opts.length > 0)")
            .row
                .opts(v-if="!is_auto_selectable_choice" :class="{['col-sm-7']: is_type_custom, ['col-sm-12']: !is_type_custom}")
                    template(v-if="is_checkbox")
                        template(v-for="opt in opts")
                            .filter_opt
                                input(type="checkbox" :id="base_filter + opt.id" name="filter_opt" @change="onchange_filter_opt_input($event.target, opt)")
                                label.option__name.ml-2(:for="base_filter + opt.id") {{ opt.name }}
                    
                    template(v-else)
                        multiselect(
                            :preselect-first="false"
                            :multiple="false"
                            :close-on-select="true"
                            v-model="tmp_filter_active_opt"
                            :options="opts"
                            label="name"
                            autocomplete="off"

                            :searchable="true"
                            :internal-search="false"

                            track-by="id"
                                                    
                            :select-label='label("multiselect.selectLabel")'
                            :select-group-label='label("multiselect.selectGroupLabel")'
                            :selected-label='label("multiselect.selectedLabel")'
                            :deselect-label='label("multiselect.deselectLabel")'
                            :deselect-group-label='label("multiselect.deselectGroupLabel")'
                        )

                template(v-if="is_type_custom")
                    .type_custom.col-sm-5
                        Tsrangeinputcomponent(
                            v-model="tmp_ts_range"
                            :field="field_date"
                            :segmentation_type="tmp_filter_active_opt.segmentation_type"
                        )