.table_widget_options_component
    .widget_title(v-if='title_name_code_text')
        .widget_title_label {{ label('table_widget_options_component.widget_title.title_name_code_text') }}
        .widget_title_wrapper
            Inlinetranslatabletext(
                :code_text="title_name_code_text" 
                :is_editable="true"
                :default_translation="default_title_translation")

    .crud_api_type_id
        .input_label {{ label('table_widget_options_component.crud_api_type_id') }}

        .crud_api_type_id_select
            .input_wrapper
                multiselect(
                    :preselect-first="false"
                    :multiple="false"
                    v-model="crud_api_type_id_selected"
                    :placeholder="label('table_widget_options_component.crud_api_type_id_select')"
                    :options="crud_api_type_id_select_options"
                    :custom-label="crud_api_type_id_select_label"
                    :allow-empty="true",
                    autocomplete="off"

                    :searchable="true"
                    :internal-search="true"

                    id="crud_api_type_id_select"

                    :select-label='label("multiselect.selectLabel")'
                    :select-group-label='label("multiselect.selectGroupLabel")'
                    :selected-label='label("multiselect.selectedLabel")'
                    :deselect-label='label("multiselect.deselectLabel")'
                    :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )


    .limit
        .input_label {{ label('table_widget_options_component.limit') }}
        .input_wrapper
            input(
                type="number"
                v-model="limit"
            )

    .show_pagination_resumee
        .input_label {{ label('table_widget_options_component.show_pagination_resumee') }}
        toggle-button(
            @change="switch_show_pagination_resumee" 
            :value="show_pagination_resumee" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.show_pagination_resumee.visible'), unchecked: label('table_widget_options_component.show_pagination_resumee.hidden')}")

    .show_pagination_slider
        .input_label {{ label('table_widget_options_component.show_pagination_slider') }}
        toggle-button(
            @change="switch_show_pagination_slider" 
            :value="show_pagination_slider" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.show_pagination_slider.visible'), unchecked: label('table_widget_options_component.show_pagination_slider.hidden')}")

    .show_pagination_form
        .input_label {{ label('table_widget_options_component.show_pagination_form') }}
        toggle-button(
            @change="switch_show_pagination_form" 
            :value="show_pagination_form" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.show_pagination_form.visible'), unchecked: label('table_widget_options_component.show_pagination_form.hidden')}")
    
    .show_pagination_list
        .input_label {{ label('table_widget_options_component.show_pagination_list') }}
        toggle-button(
            @change="switch_show_pagination_list" 
            :value="show_pagination_list" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.show_pagination_list.visible'), unchecked: label('table_widget_options_component.show_pagination_list.hidden')}")
    
    .has_table_total_footer
        .input_label {{ label('table_widget_options_component.has_table_total_footer') }}
        toggle-button(
            @change="switch_has_table_total_footer" 
            :value="has_table_total_footer" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.has_table_total_footer.visible'), unchecked: label('table_widget_options_component.has_table_total_footer.hidden')}")        

    .show_limit_selectable
        .input_label {{ label('table_widget_options_component.show_limit_selectable') }}
        toggle-button(
            @change="switch_show_limit_selectable" 
            :value="show_limit_selectable" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.show_limit_selectable.visible'), unchecked: label('table_widget_options_component.show_limit_selectable.hidden')}")
    
    template(v-if="show_limit_selectable")
        .limit_selectable
            .input_label {{ label('table_widget_options_component.limit_selectable') }}
            .input_wrapper
                input(
                    type="text"
                    v-model="limit_selectable"
                )

    .create_button(v-if='widget_options && widget_options.crud_api_type_id')
        .input_label {{ label('table_widget_options_component.create_button') }}
        
        toggle-button(
            @change="switch_create_button" 
            :value="create_button" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.create_button.visible'), unchecked: label('table_widget_options_component.create_button.hidden')}")

    .update_button(v-if='widget_options && widget_options.crud_api_type_id')
        .input_label {{ label('table_widget_options_component.update_button') }}
        
        toggle-button(
            @change="switch_update_button" 
            :value="update_button" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.update_button.visible'), unchecked: label('table_widget_options_component.update_button.hidden')}")

    .delete_button(v-if='widget_options && widget_options.crud_api_type_id')
        .input_label {{ label('table_widget_options_component.delete_button') }}
        
        toggle-button(
            @change="switch_delete_button" 
            :value="delete_button" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.delete_button.visible'), unchecked: label('table_widget_options_component.delete_button.hidden')}")

    .delete_all_button(v-if='widget_options && widget_options.crud_api_type_id')
        .input_label {{ label('table_widget_options_component.delete_all_button') }}
        
        toggle-button(
            @change="switch_delete_all_button" 
            :value="delete_all_button" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.delete_all_button.visible'), unchecked: label('table_widget_options_component.delete_all_button.hidden')}")

    .refresh_button(v-if='widget_options && widget_options.crud_api_type_id')
        .input_label {{ label('table_widget_options_component.refresh_button') }}
        
        toggle-button(
            @change="switch_refresh_button" 
            :value="refresh_button" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.refresh_button.visible'), unchecked: label('table_widget_options_component.refresh_button.hidden')}")

    .export_button(v-if='widget_options && widget_options.crud_api_type_id')
        .input_label {{ label('table_widget_options_component.export_button') }}
        
        toggle-button(
            @change="switch_export_button" 
            :value="export_button" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.export_button.visible'), unchecked: label('table_widget_options_component.export_button.hidden')}")

    .field_has_column_row_route_links
        .input_label {{ label('table_widget_options_component.has_column_row_route_links') }}
        .input_wrapper
            toggle-button(
                @change="switch_has_column_row_route_links" 
                :value="has_column_row_route_links" 
                :sync="false"
                :width="60"
                :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
            )

    template(v-if="has_column_row_route_links")

        //- template(v-for="(rrl, index_rrl) in row_route_links")
        //-     label(:for="'add_route-' + (index_rrl + 1)")
        //-     input.form-control(:id="'add_route-' + (index_rrl + 1)" v-model='row_route_links[index_rrl]')

        //- multiselect(
        //-     :preselect-first="false"
        //-     :multiple="can_select_multiple"
        //-     :close-on-select="false"
        //-     v-model="tmp_row_object_list"
        //-     :options="filter_visible_options"
        //-     :custom-label="filter_visible_label"
        //-     autocomplete="off"

        //-     :searchable="true"
        //-     :internal-search="false"
        //-     :hide-selected="true"

        //-     track-by="text_uid"
            
        //-     :key="'field_value_filter_widget_options_component_' + vo_field_ref.api_type_id + '__' + vo_field_ref.field_id"
            
        //-     :select-label='label("multiselect.selectLabel")'
        //-     :select-group-label='label("multiselect.selectGroupLabel")'
        //-     :selected-label='label("multiselect.selectedLabel")'
        //-     :deselect-label='label("multiselect.deselectLabel")'
        //-     :deselect-group-label='label("multiselect.deselectGroupLabel")'

        //-     @search-change="query_update_visible_options"
        //- )

    .vocus_button(v-if='widget_options && widget_options.crud_api_type_id')
        .input_label {{ label('table_widget_options_component.vocus_button') }}
        
        toggle-button(
            @change="switch_vocus_button" 
            :value="vocus_button" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.vocus_button.visible'), unchecked: label('table_widget_options_component.vocus_button.hidden')}")

    .can_filter_by(v-if='widget_options')
        .input_label {{ label('table_widget_options_component.can_filter_by') }}
        
        toggle-button(
            @change="switch_can_filter_by" 
            :value="can_filter_by" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.can_filter_by.visible'), unchecked: label('table_widget_options_component.can_filter_by.hidden')}")

    .field_refs
        .input_label {{ label('table_widget_options_component.columns') }}

        template(v-if='columns && (columns.length > 1)')
            Vuenestable.nested_field_refs(
                v-model="editable_columns" 
                @change="changed_columns"
                key-prop="id"
                :max-depth="1"
                children-prop="children"
            )
                template(slot-scope="{ item }")

                    Vuenestablehandle(:item="item")
                        i.fa.fa-bars.fa-fw(aria-hidden="true")
                    
                    .item_content
                        Tablewidgetcolumnoptionscomponent(
                            :column="item" @add_column="add_column" @remove_column="remove_column" @update_column="update_column"
                            :page_widget="page_widget"
                            :get_new_column_id='get_new_column_id'
                        )

        template(v-if='columns && (columns.length == 1)')
            .item_content
                Tablewidgetcolumnoptionscomponent(
                    :column="columns[0]" @add_column="add_column" @remove_column="remove_column" @update_column="update_column"
                    :page_widget="page_widget"
                    :get_new_column_id='get_new_column_id'
                )

        .column_wrapper
            Tablewidgetcolumnoptionscomponent(
                :column="null" @add_column="add_column" @remove_column="remove_column" @update_column="update_column"
                :page_widget="page_widget"
                :get_new_column_id='get_new_column_id'
            )