.table_widget_options_component
    .widget_title(v-if='title_name_code_text')
        .widget_title_label {{ label('table_widget_options_component.widget_title.title_name_code_text') }}
        .widget_title_wrapper
            Inlinetranslatabletext(
                :code_text="title_name_code_text" 
                :is_editable="true"
                :default_translation="default_title_translation")

    .field_refs
        .input_label {{ label('table_widget_options_component.columns') }}

        template(v-if='columns && (columns.length > 1)')
            Vuenestable(
                v-model="editable_columns" 
                @change="changed_columns"
                key-prop="id"
                :max-depth="1"
                children-prop="children"
            )
                template(slot-scope="{ item }")

                    Vuenestablehandle(:item="item")
                        i.fa.fa-bars.fa-fw(aria-hidden="true")
                    
                    .item_content
                        Tablewidgetcolumnoptionscomponent(
                            :column="item" @add_column="add_column" @remove_column="remove_column"
                            :page_widget="page_widget"
                        )

        template(v-if='columns && (columns.length == 1)')
            .item_content
                Tablewidgetcolumnoptionscomponent(
                    :column="columns[0]" @add_column="add_column" @remove_column="remove_column"
                    :page_widget="page_widget"
                )

        .column_wrapper
            Tablewidgetcolumnoptionscomponent(
                :column="null" @add_column="add_column" @remove_column="remove_column"
                :page_widget="page_widget"
            )

    .crud_api_type_id
        .input_label {{ label('table_widget_options_component.crud_api_type_id') }}

        .crud_api_type_id_select
            .input_wrapper
                multiselect(
                    :preselect-first="false"
                    :multiple="false"
                    v-model="crud_api_type_id_selected"
                    :placeholder="label('table_widget_options_component.crud_api_type_id_select')"
                    :options="crud_api_type_id_select_options"
                    :custom-label="crud_api_type_id_select_label"
                    :allow-empty="true",

                    :searchable="true"
                    :internal-search="true"

                    id="crud_api_type_id_select"

                    :select-label='label("multiselect.selectLabel")'
                    :select-group-label='label("multiselect.selectGroupLabel")'
                    :selected-label='label("multiselect.selectedLabel")'
                    :deselect-label='label("multiselect.deselectLabel")'
                    :deselect-group-label='label("multiselect.deselectGroupLabel")'
                    )

    .vocus_button(v-if='widget_options && widget_options.crud_api_type_id')
        .input_label {{ label('table_widget_options_component.vocus_button') }}
        
        toggle-button(
            @change="switch_vocus_button" 
            :value="vocus_button" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.vocus_button.visible'), unchecked: label('table_widget_options_component.vocus_button.hidden')}")

    .delete_button(v-if='widget_options && widget_options.crud_api_type_id')
        .input_label {{ label('table_widget_options_component.delete_button') }}
        
        toggle-button(
            @change="switch_delete_button" 
            :value="delete_button" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.delete_button.visible'), unchecked: label('table_widget_options_component.delete_button.hidden')}")


