.supervision_dashboard.row
    //- panneau gauche liste categories et sondes
    .col-md-4.col-sm-12
        //-  premier bandeau des catégories
        template(v-if="(categorys) && (categorys.length) && (categorys.length > 1)")
            .col-md-12.mb-3
                h2 {{ label('supervision.dashboard.category') }}

                .btn.mr-3.mb-1(
                    @click="selectCategory(null)",
                    :class="{'btn-success': !selected_category, 'btn-secondary': !!selected_category}"
                    ) {{ label('supervision.dashboard.all') }}

                template(v-for="category in categorys")
                    .btn.mr-3.mb-1(
                        @click="selectCategory(category)",
                        :class="{'btn-success': !!is_cat_selected(category), 'btn-secondary': !is_cat_selected(category)}"
                        ) {{ category.name }}

        //- deuxième bandeau des types de sondes
        template(v-if="(filtered_api_type_ids) && (filtered_api_type_ids.length) && (filtered_api_type_ids.length > 1)")
            .col-md-12.mb-3
                h2 {{ label('supervision.dashboard.types_de_sonde') }}

                .btn.mr-3.mb-1(
                    @click="selectApiTypeId(null)",
                    :class="{'btn-success': !selected_api_type_id, 'btn-secondary': !!selected_api_type_id}"
                    ) {{ label('supervision.dashboard.all') }}

                template(v-for="api_type_id in filtered_api_type_ids")
                    .btn.mr-3.mb-1(
                        @click="selectApiTypeId(api_type_id)",
                        :class="{'btn-success': !!is_api_type_selected(api_type_id), 'btn-secondary': !is_api_type_selected(api_type_id)}"
                        ) {{ label('supervision.dashboard.' + api_type_id) }}

    //- panneau droit liste items
    .col-md-7.col-sm-12
        //- bandeau des compteurs pour chaque états
        .row
            .col-sm-2
                Supervisiondashboardwidgetcomponent(
                    state_classname="STATE_ERROR"
                    :nb_elts="nb_errors"
                )
            .col-sm-2
                Supervisiondashboardwidgetcomponent(
                    state_classname="STATE_ERROR_READ"
                    :nb_elts="nb_errors_read"
                )
            .col-sm-2
                Supervisiondashboardwidgetcomponent(
                    state_classname="STATE_WARN"
                    :nb_elts="nb_warns"
                )
            .col-sm-2
                Supervisiondashboardwidgetcomponent(
                    state_classname="STATE_WARN_READ"
                    :nb_elts="nb_warns_read"
                )
            .col-sm-2
                Supervisiondashboardwidgetcomponent(
                    state_classname="STATE_OK"
                    :nb_elts="nb_oks"
                )
            .col-sm-2
                Supervisiondashboardwidgetcomponent(
                    state_classname="STATE_PAUSED"
                    :nb_elts="nb_pauses"
                )
                Supervisiondashboardwidgetcomponent(
                    state_classname="STATE_UNKOWN"
                    :nb_elts="nb_unknowns"
                )

        //- champs de recherche
        .row.form-group
            .col-sm-4
                input.form-control(type='text' :placeholder='label("supervision.filter_text")' v-model="filter_text")

        //- liste des sondes
        .row
            .col-sm-12
                template(v-for='supervised_item in ordered_supervised_items')
                    Supervisiondashboarditemcomponent(:item='supervised_item' :display_item_in_same_p='display_item_in_same_p')

        template(v-if="display_item_in_same_p")
            Supervisionitemmodalcomponent(
                :hide_supervised_item_graph='hide_supervised_item_graph'
                :display_item_in_same_p='display_item_in_same_p')