.supervision_dashboard
    template(v-if="(categorys) && (categorys.length) && (categorys.length > 1)")
        .row.mb-3
            .col-md-12
                h2 {{ label('supervision.dashboard.category') }}

                .btn.btn-secondary.mr-3.mb-1(@click="selectCategory(null)", :class="{'btn-success': (selected_category == null)}") {{ label('supervision.dashboard.all') }}

                template(v-for="category in categorys")
                    .btn.btn-secondary.mr-3.mb-1(@click="selectCategory(category)", :class="{'btn-success': ((selected_category) && (selected_category.id == category.id))}") {{ category.name }}

    template(v-if="(filtered_api_type_ids) && (filtered_api_type_ids.length) && (filtered_api_type_ids.length > 1)")
        .row.mb-3
            .col-md-12
                h2 {{ label('supervision.dashboard.types_de_sonde') }}

                .btn.btn-secondary.mr-3.mb-1(@click="selectApiTypeId(null)", :class="{'btn-success': (selected_api_type_id == null)}") {{ label('supervision.dashboard.all') }}

                template(v-for="api_type_id in filtered_api_type_ids")
                    .btn.btn-secondary.mr-3.mb-1(@click="selectApiTypeId(api_type_id)", :class="{'btn-success': ((selected_api_type_id) && (selected_api_type_id == api_type_id))}") {{ label('supervision.dashboard.' + api_type_id) }}

    .row
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_ERROR"
                :nb_elts="nb_errors"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_ERROR_READ"
                :nb_elts="nb_errors_read"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_WARN"
                :nb_elts="nb_warns"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_WARN_READ"
                :nb_elts="nb_warns_read"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_OK"
                :nb_elts="nb_oks"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_PAUSED"
                :nb_elts="nb_pauses"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_UNKOWN"
                :nb_elts="nb_unknowns"
            )


    template(v-for='supervised_item in ordered_supervised_items')
        .row
            .col-md-7
                Supervisiondashboarditemcomponent(:item='supervised_item')
