.supervision_dashboard
    .row
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_ERROR"
                :nb_elts="nb_errors"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_ERROR_READ"
                :nb_elts="nb_errors_read"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_WARN"
                :nb_elts="nb_warns"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_WARN_READ"
                :nb_elts="nb_warns_read"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_OK"
                :nb_elts="nb_oks"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_PAUSED"
                :nb_elts="nb_pauses"
            )
        .col-md-1
            Supervisiondashboardwidgetcomponent(
                state_classname="STATE_UNKOWN"
                :nb_elts="nb_unknowns"
            )
            

    template(v-for='supervised_item in ordered_supervised_items')
        .row
            .col-md-12
                Supervisiondashboarditemcomponent(:item='supervised_item')
                