.form-group(:class="{[field_type]:true, inline_input_mode:inline_input_mode, has_alert:(get_alerts && get_alerts[alert_path] && (get_alerts[alert_path].length > 0))}")

    template(v-if='inline_input_mode && (!is_disabled) && (!inline_input_mode_input_only)')
        template(v-if='!inline_input_is_editing')
            template(v-if='inline_input_show_clear && !field.is_required')
                i.inline_input_show_clear.fa.fa-trash.btn-danger(@click='inline_clear_value' :class="{busy: inline_input_is_busy}")
            template(v-else)
                i.inline_input_hide_clear.fa.fa-arrow-circle-o-right.btn-info(:class="{busy: inline_input_is_busy}")
        template(v-else)
            i.inline_input_cancel_input.fa.fa-undo.btn-warning(@click='cancel_input' :class="{busy: inline_input_is_busy}")

    Alertcomponent.datatable_field_alert.simple_datatable_field_alert(:path='alert_path')

    template(v-if='((!inline_input_mode) || (!inline_input_hide_label)) && (!inverse_label)')
        include ./CRUDComponentFieldLabel

    template(v-if="field_type == 'password'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="(field_type == 'text') || (field_type == 'email')")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'textarea'")
        textarea(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'translatable_text'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'boolean'")
        template(v-if="inline_input_mode && (!inline_input_is_editing) && (!field.is_required) && !force_toggle_button")
            .bool_field_inline_readonly_value
                template(v-if="field_value == true")
                    | {{ label('crud.field.boolean.true') }}
                template(v-else-if='field_value == false')
                    | {{ label('crud.field.boolean.false') }}
                template(v-else)
                    | {{ label('crud.field.boolean.n_a') }}
        template(v-else)
            template(v-if="field.is_required || force_toggle_button")
                toggle-button(
                    @keypress="onkeypress($event)"
                    @keydown.esc='onkeypress_escape'
                    ref='input_elt'
                    @change="validateToggle"
                    :value="field_value"
                    :sync="true"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))"
                    :id="input_elt_id")
            template(v-else)
                .form-checks
                    .form-check
                        input.form-check-input(type="radio" v-model="field_value" :value="null" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" :id="'materialChecked_' + input_elt_id + '___N_A_' + random_number" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)")
                        label.form-check-label(:for="'materialChecked_' + input_elt_id + '___N_A_' + random_number") {{ label('crud.field.boolean.n_a') }}
                    .form-check
                        input.form-check-input(type="radio" v-model="field_value" :value="true" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" :id="'materialChecked_' + input_elt_id + '___TRUE_' + random_number" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)")
                        label.form-check-label(:for="'materialChecked_' + input_elt_id + '___TRUE_' + random_number") {{ label('crud.field.boolean.true') }}
                    .form-check
                        input.form-check-input(type="radio" v-model="field_value" :value="false" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" :id="'materialChecked_' + input_elt_id + '___FALSE_' + random_number" @input="validateInput($event.target)" @blur="$emit('blur', $event.target.value)")
                        label.form-check-label(:for="'materialChecked_' + input_elt_id + '___FALSE_' + random_number") {{ label('crud.field.boolean.false') }}
    template(v-else-if="field_type == 'number'")
        input(inputmode="numeric" :placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="number" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id")
    template(v-else-if="field_type == 'amount'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" v-on:keyup.enter="inline_input_submit" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'float'")
        input(inputmode="decimal" :placeholder="show_placeholder ? t(field.translatable_title) : null" @focus="on_focus" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="number" step="0.01" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id")
    template(v-else-if="field_type == 'pct'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'HourAndMinuteWithoutLimit'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'HourAndMinute'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="(field_type == 'date') || (field_type == 'day')")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="date" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id")
    template(v-else-if="field_type == 'month'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="month" v-model="field_value" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id")
    template(v-else-if="field_type == 'daterange'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="date" v-model="field_value_range[field.datatable_field_uid + '_start']" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="updateDateRange($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="date" v-model="field_value_range[field.datatable_field_uid + '_end']" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="updateDateRange($event.target)" @blur="$emit('blur', $event.target.value)" :id="input_elt_id")
    template(v-else-if="field_type == 'daterange[]'")
        // FIXME TODO ASAP
    // FIXME TODO ASAP field_type == 'tstzrange[]' autres segmentations
    template(v-else-if="is_segmented_day_tsrange_array")
        Tsrangesinputcomponent(
            ref="input_elt"
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))"  @input_with_infos="validateSimpleInput" :id="input_elt_id")

    template(v-else-if="field_type == 'numrange[]'")
        // FIXME TODO ASAP
    template(v-else-if="field_type == 'numrange'")
        Numrangeinputcomponent(
            ref="input_elt"
            :inline_input_mode='inline_input_mode'
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))"  @input_with_infos="validateSimpleInput" :id="input_elt_id")
        // FIXME TODO ASAP
    template(v-else-if="field_type == 'isoweekdays'")
        Isoweekdaysinputcomponent(
            ref="input_elt"
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))"  @input_with_infos="validateSimpleInput" :id="input_elt_id")

    template(v-else-if="field_type == 'hourrange[]'")
        Multiinputcomponent(
            ref="input_elt"
            :inline_input_mode='inline_input_mode'
            :custom_field_component="hourrange_input_component"
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" type_input="custom" @input_with_infos="validateMultiInput" :id="input_elt_id")

    template(v-else-if="field_type == 'hourrange'")
        Hourrangeinputcomponent(
            ref="input_elt"
            :inline_input_mode='inline_input_mode'
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input_with_infos="validateSimpleInput" :id="input_elt_id")

    template(v-else-if="field_type == 'hour'")
        // FIXME TODO ASAP

    template(v-else-if="field_type == 'tstz'")
        Tstzinputcomponent(
            ref="input_elt"
            :inline_input_mode='inline_input_mode'
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input_with_infos="validateSimpleInput" :id="input_elt_id")

    template(v-else-if="field_type == 'tsrange'")
        Tsrangeinputcomponent(
            ref="input_elt"
            :inline_input_mode='inline_input_mode'
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input_with_infos="validateSimpleInput" :id="input_elt_id")
    template(v-else-if="field_type == 'timestamp'")
        Timestampinputcomponent(
            ref="input_elt"
            :inline_input_mode='inline_input_mode'
            v-model="field_value" :vo="vo" :field="field" :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input_with_infos="validateSimpleInput" :id="input_elt_id")
    template(v-else-if="field_type == 'html'")
        template(v-if="inline_input_mode && !inline_input_is_editing")
            .html_field_inline_readonly_value(v-html='field_value')
        template(v-else)
            Vuequilleditor(v-model="field_value" ref="input_elt" :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput" :id="input_elt_id")
    template(v-else-if="(field_type == 'file')&&(vo._type == 'file')")
        Filecomponent(ref="input_elt" :filevo="vo" @uploaded="uploadedFile(...arguments)" :id="input_elt_id" :disabled="is_readonly")
    template(v-else-if="(field_type == 'image')&&(vo._type == 'image')")
        Imagecomponent(ref="input_elt" :filevo="vo" @uploaded="uploadedFile(...arguments)", :id="input_elt_id" :disabled="is_readonly")
    template(v-else-if="field_type == 'timewithouttimezone'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="time" v-model="field_value" :id="input_elt_id", :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)")
    template(v-else-if="field_type == 'unix_timestamp'")
        input(:placeholder="show_placeholder ? t(field.translatable_title) : null" @keypress="onkeypress($event)" @keydown.esc='onkeypress_escape' ref='input_elt' :class="{'form-control': !inline_input_mode}" type="text" v-model="field_value" :id="input_elt_id", :required="field.is_required" :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))" @input="validateInput($event.target)" @change="validateEndOfInput($event.target)" :maxlength="maxlength")
        template(v-if="maxlength")
            .maxlength.italic.f-r {{ field_value_length }} / {{ maxlength }}
    template(v-else-if="field_type == 'enum'")
        multiselect(
            ref="input_elt"
            v-model="field_value"
            :options="select_options",
            :loading="isLoadingOptions",
            :id="input_elt_id",
            :searchable="searchable",
            :internal-search="false",
            :allow-empty="!field.is_required",
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))",
            :preselect-first="field.is_required",
            @search-change="asyncLoadEnumOptions",
            @input="onChangeField"

            :placeholder="t(field.translatable_place_holder)",

            :select-label='label("multiselect.selectLabel")'
            :select-group-label='label("multiselect.selectGroupLabel")'
            :selected-label='label("multiselect.selectedLabel")'
            :deselect-label='label("multiselect.deselectLabel")'
            :deselect-group-label='label("multiselect.deselectGroupLabel")'
        )
            template(slot="singleLabel", slot-scope="props")
                //- img.option__image(v-if="field.enumIdToHumanReadableImage(props.option)" :src="field.enumIdToHumanReadableImage(props.option)", :alt="field.enumIdToHumanReadable(props.option)")
                span.option__desc
                    span.option__label {{ field.enumIdToHumanReadable(props.option) }}
            template(slot="option", slot-scope="props")
                img.option__image(v-if="field.enumIdToHumanReadableImage(props.option) && show_option_image" :src="field.enumIdToHumanReadableImage(props.option)", :alt="field.enumIdToHumanReadable(props.option)")
                .option__desc
                    span.option__label {{ field.enumIdToHumanReadable(props.option) }}

    template(v-else-if="field_type == 'number[]'")
        Multiinputcomponent(
            ref="input_elt"
            :inline_input_mode='inline_input_mode'
            v-model="field_value", :id="input_elt_id" :vo="vo", :field="field",
            :required="field.is_required", :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))",
            type_input="number", @input_with_infos="validateMultiInput")
    template(v-else-if="field_type == 'text[]'")
        Multiinputcomponent(
            ref="input_elt"
            :inline_input_mode='inline_input_mode'
            v-model="field_value", :id="input_elt_id" :vo="vo", :field="field", :required="field.is_required",
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))", type_input="text",
            @input_with_infos="validateMultiInput")
    template(v-else-if="field_type == 'html[]'")
        Multiinputcomponent(
            ref="input_elt"
            :inline_input_mode='inline_input_mode'
            :id="input_elt_id" :use_wysiwyg='true' v-model="field_value", :vo="vo", :field="field", :required="field.is_required",
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))", type_input="text",
            @input_with_infos="validateMultiInput")
    template(v-else-if="is_custom_field_type && custom_field_types[field_type].create_update_component")
        .custom_read_field_component(
            ref="input_elt"
            :id="input_elt_id",
            :is="custom_field_types[field_type].create_update_component",
            :vo="vo",
            :field="field",
            :required="field.is_required"
            :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))",
            @input="inputValue"
        )
    template(v-else-if="field_type == 'point'")
        // FIXME TODO ASAP

    template(v-if='inverse_label')
        include ./CRUDComponentFieldLabel

    template(v-if='inline_input_mode && (!is_disabled) && (!inline_input_mode_input_only)')
        template(v-if='inline_input_is_editing')
            i.inline_input_is_editing.fa.fa-floppy-o.btn-success(@click='validate_inline_input' :class="{busy: inline_input_is_busy}")
        template(v-else)
            i.inline_input_is_not_editing.fa.fa-pencil.btn-primary(@click='prepare_inline_input' :class="{busy: inline_input_is_busy}")

