.chart_js_scale_time_options_component

    .unit_options_selector 
        .input_label {{ label('chart_js_scale_time_options_component.unit_options_selector') }}
        .input_wrapper
            multiselect.unit_options_selector(
                :preselect-first="false"
                :options="time_unit_options"
                :allow-empty="false"
                :multiple="false"
                label="label"

                :searchable="true"
                :internal-search="true"
                
                v-model="unit"
                
                select-label=''
                select-group-label=''
                selected-label=''
                deselect-label=''
                deselect-group-label=''

                placeholder=''
                
                name="scale_unit_options"
            )   
                span(slot="noOptions") -

                template(slot="option", slot-scope="props")
                    span.option__title {{ props.option.label }}

                template(slot="tag", slot-scope="props")
                    span.option__tag {{ label(props.option.label) }}

    .parser_options_selector 
        .input_label {{ label('chart_js_scale_time_options_component.parser_options_selector') }}
        .input_wrapper
            multiselect.parser_options_selector(
                :preselect-first="false"
                :options="time_parser_options"
                :allow-empty="false"
                :multiple="false"

                :searchable="true"
                :internal-search="true"
                
                v-model="parser"
                
                select-label=''
                select-group-label=''
                selected-label=''
                deselect-label=''
                deselect-group-label=''

                placeholder=''
                
                name="scale_parser_options"
            )

    .round_options_selector 
        .input_label {{ label('chart_js_scale_time_options_component.round_options_selector') }}
        .input_wrapper
            multiselect.round_options_selector(
                :preselect-first="false"
                :options="time_unit_options"
                :allow-empty="false"
                :multiple="false"
                label="label"

                :searchable="true"
                :internal-search="true"
                
                v-model="round"
                
                select-label=''
                select-group-label=''
                selected-label=''
                deselect-label=''
                deselect-group-label=''

                placeholder=''
                
                name="scale_round_options"
            )
                span(slot="noOptions") -

                template(slot="option", slot-scope="props")
                    span.option__title {{ props.option.label }}

                template(slot="tag", slot-scope="props")
                    span.option__tag {{ label(props.option.label) }}
    
    .display_format_options_selector 
        .input_label {{ label('chart_js_scale_time_options_component.display_format_options_selector') }}
        .add_display_format_button_wrapper
            button.btn-success.btn-block.add_display_format_button(
                @click="add_display_format"
            ) {{ label('chart_js_scale_time_options_component.add_display_format_button') }}
        template
            .input_wrapper(v-for="(display_format, index) in displayFormats")
                Chartjsscaletimedisplayformatoptionscomponent(
                    :options="{time_unit: index, display_format: display_format}"
                    @on_change="handle_display_format_change(index, $event)"
                )
                button.btn-danger.btn-block.remove_display_format_button(
                    @click="remove_display_format(index)"
                ) {{ label('chart_js_scale_time_options_component.remove_display_format_button') }}
        
    .min_unit_options_selector 
        .input_label {{ label('chart_js_scale_time_options_component.min_unit_options_selector') }}
        .input_wrapper
            multiselect.min_unit_options_selector(
                :preselect-first="false"
                :options="time_unit_options"
                :allow-empty="false"
                :multiple="false"
                label="label"

                :searchable="true"
                :internal-search="true"
                
                v-model="minUnit"
                
                select-label=''
                select-group-label=''
                selected-label=''
                deselect-label=''
                deselect-group-label=''

                placeholder=''
                
                name="scale_min_unit_options"
            )
                span(slot="noOptions") -

                template(slot="option", slot-scope="props")
                    span.option__title {{ props.option.label }}

                template(slot="tag", slot-scope="props")
                    span.option__tag {{ label(props.option.label) }}
        